#site-header {
  border-top: 13px solid $main-color;  
  @media(min-width:768px){
    padding: 0 30px 0 60px;
  }
  .navbar-light .navbar-toggler {
    border-color: transparent;
  }
  .navbar {
    padding: 0 12px;
  }
  .cont-img{
    height: 40px;
    @media(min-width:768px){
      height: 72px;
      padding: 10px 0;
    }
    @media(min-width:1110px){
      padding: 0;
    }
    img{
      height: 100%;
    }
  }
  .navbar-collapse {
    justify-content: flex-end;
  }
  .navbar-nav {
    font-family: $sec-font;
    li {
      display: inline-block;
      list-style: none;
      a {
        text-decoration: none;
        color: $main-color;
        font-size: 20px;
        font-weight: 700;
        padding: 15px 30px;
        @media(min-width:768px){
         font-size: 25px; 
         padding: 42px 30px;
        }
        &:hover {
          color: #fff;
          background-color: $main-color;
        }
      }
    }
  }
}
