<div class="modal fade" id="signin-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="h2 modal-title"><strong>تسجيل دخول</strong></h3>
        <button
          type="button"
          class="btn btn-link"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&#x2715;</span>
          <span>إغلاق</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-dark">
          <div class="form-floating mb-2">
            <input
              type="text"
              class="form-control form-control-lg"
              id="email"
              placeholder="البريد الإلكتروني"
            />
            <label for="email" class="form-label">البريد الإلكتروني</label>
          </div>
          <div class="form-floating mb-3">
            <input
              type="password"
              class="form-control form-control-lg"
              id="password"
              placeholder="كلمة المرور"
            />
            <label for="password" class="form-label">كلمة المرور</label>
          </div>
          <div class="d-grid gap-3">
            <button type="submit" class="btn btn-lg btn-primary">تسجيل دخول</button>
            <div class="havent-acount mx-auto">
              <button
                type="button"
                data-bs-dismiss="modal"
                data-bs-target="#forgot-password-modal"
                data-bs-toggle="modal"
                class="btn btn-link"
              >
                هل نسيت كلمة المرور؟
              </button>
            </div>
            <div class="havent-acount mx-auto">
              <span>ليس لديك حساب؟</span>
            <button
              type="button"
              class="btn btn-link"
              data-bs-dismiss="modal"
              data-bs-toggle="modal"
              data-bs-target="#signup-modal"
            >
             تسجيل حساب جديد
            </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
