<html dir="rtl" lang="ar">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--AOS CSS-->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <!--CSS-->
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <div id="<!-- @@var page_id -->">
      <!-- @@include ../partials/header.html -->

      <!-- @@placeholder = page_content -->

      <!-- @@include ../partials/footer.html -->
    </div>
    <!-- @@include ../partials/auth-modals/all.html -->

    <!--AOS Script-->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <!--Script-->
    <script src="js/script.js"></script>
  </body>
</html>
