<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--Slick CSS-->
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css "
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css"
    />

    <!--CSS-->
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <!-- @@include ../partials/header.html -->
    <!-- @@include ../partials/hero.html -->
    <!-- @@include ../partials/success-partners.html -->

    <!-- @@include ../partials/insurance-policy-steps.html -->

    <!-- @@include ../partials/footer.html -->

    <!--Script-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>
