.reservation {
  padding: 25px 0;
  @media(min-width:768px){
    padding: 95px 0;
  }
  .reservation-info {
    h3 {
      font-size: 15px;
      font-weight: 700;
      margin-bottom: 12px;
      @media(min-width:768px){
        font-size: 21px;
        margin-bottom: 25px;
      }
    }
    h1 {
      font-family: $sec-font;
      font-weight: 400;
      font-size: 26px;
      @media(min-width:768px){
        font-size: 50px;
      }
    }
  }
  .lable-input {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    input {
      width: 380px;
      height: 65px;
      font-size: 17px;
      padding: 0 25px;
      margin: 14px 13px;
      border: 1px solid #bebebe;
      border-radius: 7px;
    }
    a {
      padding: 22px 68px;
      text-decoration: none;
      color: #000000;
      background-color: $main-color;
      font-weight: 700;
      font-size: 17px;
      margin: 14px 13px;
      border-radius: 7px;
      @media(min-width:768px){
        padding: 22px 127px;
      }
      &:hover {
        background-color: #000;
        color: $main-color;
      }
    }
  }
}
