@font-face {
  font-family: "AvenirArabic";
  src: url("../fonts/AvenirArabic-Black.eot");
  src: url("../fonts/AvenirArabic-Black?#iefix") format("embedded-opentype"),
    url("../fonts/AvenirArabic-Black.woff2") format("woff2"),
    url("../fonts/AvenirArabic-Black.woff") format("woff"),
    url("../fonts/AvenirArabic-Black.ttf") format("truetype"),
    url("../fonts/AvenirArabic-Black.svg#AvenirArabic-Black") format("svg");

  src: url("../fonts/AvenirArabic-Book.eot");
  src: url("../fonts/AvenirArabic-Book?#iefix") format("embedded-opentype"),
    url("../fonts/AvenirArabic-Book.woff2") format("woff2"),
    url("../fonts/AvenirArabic-Book.woff") format("woff"),
    url("../fonts/AvenirArabic-Book.ttf") format("truetype"),
    url("../fonts/AvenirArabic-Book.svg#AvenirArabic-Book") format("svg");

  src: url("../fonts/AvenirArabic-Heavy.eot");
  src: url("../fonts/AvenirArabic-Heavy?#iefix") format("embedded-opentype"),
    url("../fonts/AvenirArabic-Heavy.woff2") format("woff2"),
    url("../fonts/AvenirArabic-Heavy.woff") format("woff"),
    url("../fonts/AvenirArabic-Heavy.ttf") format("truetype"),
    url("../fonts/AvenirArabic-Heavy.svg#AvenirArabic-Heavy") format("svg");

  src: url("../fonts/AvenirArabic-Light.eot");
  src: url("../fonts/AvenirArabic-Light?#iefix") format("embedded-opentype"),
    url("../fonts/AvenirArabic-Light.woff2") format("woff2"),
    url("../fonts/AvenirArabic-Light.woff") format("woff"),
    url("../fonts/AvenirArabic-Light.ttf") format("truetype"),
    url("../fonts/AvenirArabic-Light.svg#AvenirArabic-Light") format("svg");

  src: url("../fonts/AvenirArabic-Light1.eot");
  src: url("../fonts/AvenirArabic-Light1?#iefix") format("embedded-opentype"),
    url("../fonts/AvenirArabic-Light1.woff2") format("woff2"),
    url("../fonts/AvenirArabic-Light1.woff") format("woff"),
    url("../fonts/AvenirArabic-Light1.ttf") format("truetype"),
    url("../fonts/AvenirArabic-Light1.svg#AvenirArabic-Light1") format("svg");

  src: url("../fonts/AvenirArabic-Medium.eot");
  src: url("../fonts/AvenirArabic-Medium?#iefix") format("embedded-opentype"),
    url("../fonts/AvenirArabic-Medium.woff2") format("woff2"),
    url("../fonts/AvenirArabic-Medium.woff") format("woff"),
    url("../fonts/AvenirArabic-Medium.ttf") format("truetype"),
    url("../fonts/AvenirArabic-Medium.svg#AvenirArabic-Medium") format("svg");
}
* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #fff;
  direction: rtl;
  font-family: "AvenirArabic";
}

a {
  text-decoration: none;
  transition: all 300ms;
}
