.footer {
  background-color: #f3f3f3;
  font-size: 13px;
  a {
    transition: filter 300ms;
  }
  ul {
    list-style: none;
    margin: 0;
  }
  p {
    margin: 0;
  }
  .footer-section {
    padding-top: 22px;
    padding-bottom: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &:first-child {
      border-bottom: 1px solid #e5e5e5;
    }
  }
  .social-media {
    flex-basis: 50%;
    display: flex;
    align-items: center;
    .icons {
      display: flex;
      justify-content: space-between;
      li {
        margin: 0 14px;
        a {
          display: block;
          width: 32px;
          height: 32px;
          filter: grayscale(0%);
          &:hover {
            filter: grayscale(100%);
          }
          img {
            width: 100%;
          }
        }
      }
    }
  }
  .footer-menu {
    display: flex;
    flex-basis: 33%;
    justify-content: space-between;
    li {
      a {
        color: #000;
        transition: color 300ms;
        &:hover {
          color: #277691;
        }
      }
    }
  }
  .logo-container {
    width: 165px;
    a {
      display: block;
      &:hover {
        img {
          filter: grayscale(100%);
        }
      }
      img {
        width: 100%;
        filter: grayscale(0%);
      }
    }
  }
  .copyright {
    color: #9c96a8;
  }
}
