.form-dark {
  .form-control {
    background-color: #f4f4f4;
  }
  .dark-bg {
    padding: 16px;
    background-color: #f4f4f4;
    border-radius: $border-radius-lg;
  }
  fieldset {
    padding: 16px;
    background-color: #f9f9f9;
    border-radius: $border-radius-lg;
    border: solid 1px #e0e0e0;
  }
}

.form-control,
.form-select {
  &.dark {
    background-color: #f4f4f4;
  }
}

.form-radio-inline-group {
  display: flex;
  padding: 5px;
  border-radius: 13px;
  background-color: #ffffff;
  justify-content: stretch;
  &.dark {
    background-color: #f4f4f4;
  }
  @include media-breakpoint-up("lg", $grid-breakpoints) {
    justify-content: space-between;
  }
  .form-radio-inline {
    position: relative;
    text-align: center;
    flex-grow: 1;
    border-radius: 18px;
    input {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
      cursor: pointer;
      &:checked {
        & ~ .form-check-label {
          box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.15);
          background-color: $secondary;
          color: #fff;
          text-align: center;
        }
      }
    }
    .form-check-label {
      width: 100%;
      padding: 12px 18px;
      border-radius: 13px;
      white-space: nowrap;
      background-color: transparent;
      box-shadow: none;
      transition: all 300ms;
    }
  }
}

.form-radio-inline-group-label {
  line-height: 58px;
  font-weight: 700;
}

.from-control-datepicker {
  background-image: url("../images/icon-calender.svg");
  background-size: 24px auto;
  background-position: 18px center;
  background-repeat: no-repeat;
  form:not(.form-dark) & {
    background-color: #fff;
  }
}
.form-floating {
  label {
    white-space: nowrap;
  }
  &.input-group {
    label {
      z-index: 3;
    }
  }
}
