.header {
  padding-top: 22px;
  @include media-breakpoint-up("md", $grid-breakpoints) {
    padding-top: 52px;
  }
  #index-page & {
    position: absolute;
    width: 100%;
    z-index: 3;
  }
  .container {
    display: flex;
    flex-direction: column;
    @include media-breakpoint-up("md", $grid-breakpoints) {
      justify-content: space-between;
      flex-direction: row;
      align-items: center;
    }
    .header-logo {
      #index-page & {
        filter: brightness(0) invert(1);
      }
      .img-container {
        width: 284px;
        img {
          width: 100%;
        }
      }
    }
    .header-btns {
      margin: 0 -8px;
      @include media-breakpoint-down("md", $grid-breakpoints) {
        padding-top: 30px;
      }
      .btn {
        padding: 8px 18px;
        min-width: 90px;
        margin: 0 4px;
        font-size: 12px;
        @include media-breakpoint-up("md", $grid-breakpoints) {
          padding: 10px 22px;
          min-width: 126px;
          margin: 0 8px;
          font-size: 15px;
        }
      }
      .btn-primary {
        font-weight: 900;
      }
      .btn-light {
        font-weight: 500;
      }
      .btn-lang {
        padding: 8px;
        font-weight: 500;
        min-width: 44px;
        color: #fff;
        border-width: 3px;
        backdrop-filter: blur(30px);
        background-color: rgba(255, 255, 255, 0.2);
      }
    }
  }
}
