.hero {
  position: relative;
  padding-top: 164px;
  padding-bottom: 95px;
  margin-bottom: 45px;
  @include media-breakpoint-up("md", $grid-breakpoints) {
    margin-bottom: 120px;
  }
  background-image: url("../images/hero-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  display: flex;
  align-items: center;
  & > * {
    position: relative;
    z-index: 2;
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
      -45deg,
      rgba(0, 0, 0, 0) 0%,
      #000000 100%
    );
    opacity: 0.8;
    @include media-breakpoint-up("xl", $grid-breakpoints){
      width: 70%;
      opacity: 0.6;
      background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0) 0%,
        #000000 100%
      );
    }
  }
  .hero-content {
    display: flex;
    flex-direction: column;
    @include media-breakpoint-up("xl", $grid-breakpoints) {
      flex-direction: row;
    }
  }
  .hero-info {
    flex-grow: 1;
    .slogan {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      font-size: 75px;
      font-weight: 900;
      line-height: 1.31;
      @include media-breakpoint-up("md", $grid-breakpoints){
        flex-direction: row;
        font-size: 35px;

      }
      @include media-breakpoint-up("xl", $grid-breakpoints){
        flex-direction: column;
      }
      small {
        font-size: 24px;
        font-weight: 500;
        @include media-breakpoint-up("md", $grid-breakpoints) {
          font-size: 35px;
          font-weight: 900;
        }
        @include media-breakpoint-up("lg", $grid-breakpoints){
          font-size: 45px;
        }
        @include media-breakpoint-up("xl", $grid-breakpoints){
          font-size: 55px;
        }
      }
      span {
        font-size: 30px;
        font-weight: 900;
        @include media-breakpoint-up("md", $grid-breakpoints) {
          font-size: 35px;
        margin-left: 10px;
        }
        @include media-breakpoint-up("lg", $grid-breakpoints){
          font-size: 45px;
        }
        @include media-breakpoint-up("xl", $grid-breakpoints){
          font-size: 75px;
        }
      }
      &:last-of-type {
        small {
          font-size: 30px;
          font-weight: 900;
          @include media-breakpoint-up("lg", $grid-breakpoints) {
            font-size: 45px;
          }
          @include media-breakpoint-up("xl", $grid-breakpoints) {
            font-size: 65px;
          }
        }
      }
      &:first-child {
        > * {
          position: relative;
          &::before {
            content: "";
            position: absolute;
            top: 26px;
            left: -16px;
            z-index: -1;
            background-color: #3a3a3a;
            backdrop-filter: blur(30px);
            opacity: 0.3;
            border-radius: 17px;
            width: calc(100% + 32px);
            height: calc(100% - 45px);
          }
        }
      }
    }

    .hotline {
      display: flex;
      justify-content: center;
      border-radius: 55px;
      background-color: rgba(0, 0, 0, 0.7);
      backdrop-filter: blur(30px);
      padding: 10px 16px;
      margin-bottom: 20px;
      @include media-breakpoint-up("md", $grid-breakpoints) {
        padding: 15px 20px;
      }
      @include media-breakpoint-up("xl", $grid-breakpoints) {
        padding: 24px 35px 20px 35px;
        max-width: 645px;
      }
      .image-cont {
        width: 16px;
        height: 16px;
        margin-right: 10px;
        position: relative;
        top: 10px;
        @include media-breakpoint-up("md", $grid-breakpoints) {
          width: 45px;
          height: 45px;
          margin-right: 12px;
          top: 20px;
        }
        @include media-breakpoint-up("lg", $grid-breakpoints) {
          width: 58px;
          height: 38px;
          margin-right: 18px;
          top: 34px;
        }
        @include media-breakpoint-up("xl", $grid-breakpoints) {
          width: 42px;
          height: 38px;
          margin-right: 18px;
          top: 15px;
        }
        img {
          width: 100%;
        }
      }
      .phone-num {
        display: flex;
        flex-direction: column;
        margin-left: 10px;
        flex-wrap: nowrap;
        @include media-breakpoint-up("lg", $grid-breakpoints) {
          margin-right: 22px;
        }
        span {
          font-size: 12px;
          font-weight: 300;
          @include media-breakpoint-up("md", $grid-breakpoints) {
            font-size: 30px;
          }
          @include media-breakpoint-up("lg", $grid-breakpoints) {
            font-size: 40px;
          }
          @include media-breakpoint-up("xl", $grid-breakpoints) {
            font-size: 20px;
          }
        }
        a {
          font-size: 14px;
          font-weight: 600;
          color: #fff;
          @include media-breakpoint-up("md", $grid-breakpoints) {
            font-size: 32px;
          }
          @include media-breakpoint-up("lg", $grid-breakpoints) {
            font-size: 42px;
          }
          @include media-breakpoint-up("xl", $grid-breakpoints) {
            font-size: 27px;
          }
        }
      }
      .img-cont {
        flex-basis: 50%;
        margin-left: 12px;
        @include media-breakpoint-up("md", $grid-breakpoints) {
          margin-left: 50px;
        }
        @include media-breakpoint-up("lg", $grid-breakpoints) {
          width: 258px;
          height: 62px;
          margin-left: 34px;
        }
        img {
          width: 100%;
        }
        &::before {
          content: "";
          display: block;
          height: 38px;
          width: 0;
          border: solid 2px #ffffff;
          position: absolute;
          opacity: 0.35;
          margin-left: -8px;
          @include media-breakpoint-up("md", $grid-breakpoints) {
            height: 84px;
            margin-left: -23px;
            border: solid 3px #ffffff;
          }
          @include media-breakpoint-up("lg", $grid-breakpoints) {
            height: 114px;
            margin-left: -32px;
          }
          @include media-breakpoint-up("xl", $grid-breakpoints) {
            height: 57px;
          }
        }
      }
    }
  }
  .inquiry-form {
    background-color: #f4f4f4;
    border-radius: 2.5rem;
    padding: 42px 32px;
    flex-basis: 48%;
    color: $black;
    @include media-breakpoint-up("lg", $grid-breakpoints){
      flex-basis: 40%;
    }
    @media(min-width:1680px){
      flex-basis: 30%;
    }
    .titles-container {
      @include media-breakpoint-up("md", $grid-breakpoints) {
        margin-bottom: 32px;
      }
      .title {
        font-size: 18px;
        font-weight: 900;
        line-height: 1.39;
        margin-bottom: 2px;
        @include media-breakpoint-up("md", $grid-breakpoints) {
          font-size: 35px;
        }
        @include media-breakpoint-up("lg", $grid-breakpoints){
          font-size: 23px;
        }
      }
      .subtitle {
        font-size: 14px;
        font-weight: 300;
        line-height: 1.88;
        @include media-breakpoint-up("md", $grid-breakpoints) {
          font-size: 26px;
        }
        @include media-breakpoint-up("lg", $grid-breakpoints){
          font-size: 17px;
        }
      }
    }
  }
}
