.hero {
  position: relative;
  padding-top: 164px;
  padding-bottom: 95px;
  background-image: url("../images/hero-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: right;
  color: #fff;
  display: flex;
  align-items: center;
  & > * {
    position: relative;
    z-index: 2;
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 70%;
    height: 100%;
    background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0) 0%,
      #000000 100%
    );
    opacity: 0.6;
  }
  .hero-info {
    flex-basis: 50% 0 0;
    .slogan {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      font-size: 75px;
      font-weight: 900;
      line-height: 1.31;
      small {
        font-size: 55px;
        font-weight: 500;
      }
      span {
        font-size: 75px;
        font-weight: 900;
      }
      &:first-child {
        > * {
          position: relative;
          &::before {
            content: "";
            position: absolute;
            top: 26px;
            left: -16px;
            z-index: -1;
            background-color: #3a3a3a;
            backdrop-filter: blur(30px);
            opacity: 0.3;
            border-radius: 17px;
            width: calc(100% + 32px);
            height: calc(100% - 45px);
          }
        }
      }
    }
  }
  .hotline {
    display: flex;
    width: 646px;
    height: 110px;
    border-radius: 55px;
    background-color: rgba(0, 0, 0, .7);
    backdrop-filter: blur(30px);
    margin-top: 30px;
    padding: 24px 42px 20px 40px;
    .image-cont {
      width: 42px;
      height: 38px;
      margin-left: 18px;
      position: relative;
      top: 15px;
      img {
        width: 100%;
      }
    }
    .phone-num {
      display: flex;
      flex-direction: column;
      margin-left: 30px;
      span {
        font-size: 20px;
        font-weight: 300;
      }
      a {
        font-size: 27px;
        font-weight: 600;
        color: #fff;
      }
    }
    .img-cont {
      width: 258px;
      height: 62px;
      margin-right: 34px;
      img {
        width: 100%;
      }
      &::before {
        content: "";
        display: block;
        height: 57px;
        width: 0;
        border: solid 3px #ffffff;
        position: absolute;
        opacity: 0.35;
        margin-right: -32px;
      }
    }
  }
}
