.insurance-policy-steps {
  text-align: center;
  margin-bottom: 40px;
  @include media-breakpoint-up("md", $grid-breakpoints){
    margin-bottom: 100px;
  }
  .heading {
    font-size: 22px;
  font-weight: 900;
    margin-bottom: 8px;
    @include media-breakpoint-up("md", $grid-breakpoints){
      font-size: 42px;
    }
  }
    .content {
    border-radius: 25px;
    background-image: linear-gradient(to bottom, #ffffff 32%, #f4f4f4);
    padding: 22px 24px;
    @include media-breakpoint-up("md", $grid-breakpoints){
      padding: 48px 24px;
      height: 100%;
    }
    &:hover {
      cursor: pointer;
      .icon-container {
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-name: bounce-icon;
        animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
      }
    }
    .icon-container {
      margin: 0 auto;
      margin-bottom: 10px;
      width: 85px;
      height: 85px;
      display: flex;
      align-items: center;
      @include media-breakpoint-up("md", $grid-breakpoints){
        margin-bottom: 36px;
      }
      img {
        max-width: 100%;
      }
    }
    .title {
      font-size: 20px;
      font-weight: 900;
      margin-bottom: 12px;
      @include media-breakpoint-up("md", $grid-breakpoints){
        margin-bottom: 24px;
      }
    }
    .description {
      margin: 0 auto;
      max-width: 220px;
      font-weight: normal;
    }
  }
}


