.modal-body {
  .modal-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    .image-container {
      width: 234px;
      height: 234px;
      img {
        width: 100%;
      }
    }
  }
}
.modal-header {
  .modal-title {
    @include media-breakpoint-down("md", $grid-breakpoints) {
      font-size: 16px;
    }
  }
}
#malath-modal {
  .modal-content {
    .modal-body {
      .image-container {
        width: 167px;
        height: 167px;
        margin: 0 auto;
        img {
          width: 100%;
        }
      }
      h3 {
        text-align: center;
        margin-bottom: 10px;
      }
      .malath-info {
        h5{
          font-size: 20px;
          font-weight: 900;
        }
        p{
          font-size: 18px;
          font-weight: 400;
          @include media-breakpoint-up("lg", $grid-breakpoints) {
            text-align: right;
          }
          
        }
      }
    }
  }
}

.modal-dialog-aside {
  @include media-breakpoint-up("lg", $grid-breakpoints) {
    position: fixed;
    right: -750px;
    top: 0;
    height: 100%;
    width: 700px;
    margin: 0;
    .modal.fade & {
      transition: right 0.3s ease-out;
      transform: none;
    }
    .modal.show & {
      right: 0;
    }
    .modal-content {
      border-radius: 0;
      height: 100%;
    }
    .modal-footer {
      background-color: #f7f7f7;
    }
  }
}
.havent-acount {
  button {
    color: $primary;
    font-weight: 900;
    padding: 0;
    &:hover {
      text-decoration: underline;
    }
  }
}
