.modal-body {
  .modal-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    .image-container {
      width: 234px;
      height: 234px;
      img {
        width: 100%;
      }
    }
  }
}
.modal-header{
  .modal-title{
    @include media-breakpoint-down("md", $grid-breakpoints){
      font-size: 18px;
    }
  }
}