.our-job-about {
    margin-bottom: 235px;
  .container {
    display: flex;
    flex-direction: row;
    h3 {
      font-size: 30px;
      font-weight: 900;
    }
    p {
      font-size: 17px;
      font-weight: 900;
    }
    .our-job {
      flex-basis: 50%;
    }
    .our-look {
      flex-basis: 50%;
    }
  }
}
