.success-partners {
  margin-bottom: 120px;
  h1 {
    font-size: 42px;
    margin-bottom: 60px;
    font-weight: 900;
  }
  .slider-cont {
    position: relative;
    .logo-slider {
      height: 95px;
      overflow: hidden;
      .item {
        padding: 0 12px;
        img {
          height: 100%;
          max-width: 100%;
          margin: 0 auto;
        }
      }
    }
    .arrow-prev {
      position: absolute;
      top: -95%;
      left: 95%;
      .arrow{
        font-size: 40px;
        font-weight: 900;
        display: block;
        width: 40px;
        height: 40px;
        background-color: #505050;
        text-align: center;
        line-height: 40px;
        cursor: pointer;
        border-radius: 13px;
      }
    }
    .arrow-next {
      position: absolute;
      top: -95%;
      left: 90%;
      .arrow{
        font-size: 40px;
        font-weight: 900;
        display: block;
        width: 40px;
        height: 40px;
        background-color: #505050;
        text-align: center;
        line-height: 40px;
        cursor: pointer;
        border-radius: 13px;
      }
    }
  }
}
