.success-partners {
  margin-bottom: 120px;
  h1 {
    font-size: 20px;
    margin-bottom: 18px;
    font-weight: 900;
    @include media-breakpoint-up("md", $grid-breakpoints) {
      font-size: 42px;
      margin-bottom: 60px;
    }
  }
  .slider-container {
    position: relative;
    .partners-slider {
      height: 95px;
      overflow: hidden;
      .item {
        padding: 0 12px;
        img {
          height: 100%;
          width: auto;
          max-width: 100%;
          margin: 0 auto;
        }
      }
    }
    .slider-arrows-container {
      position: absolute;
      top: -35px;
      right: 0;
      @include media-breakpoint-up("md", $grid-breakpoints) {
        top: -100px;
      }
      .arrow-prev,
      .arrow-next {
        position: relative;
        display: inline-block;
        height: 20px;
        width: 20px;
        background-image: url("../images/arrow-left-square.svg");
        background-size: 100%;
        transition: all 300ms;
        transform: scaleX(-1) #{"/*rtl:scaleX(1)*/"};
        cursor: pointer;
        &:hover {
          opacity: 0.6;
        }
        &:active {
          top: 1px;
        }
        @include media-breakpoint-up("md", $grid-breakpoints) {
          height: 40px;
          width: 40px;
        }
      }
      .arrow-prev {
        transform: rotate(0deg) #{"/*rtl:rotate(180deg)*/"};
      }
    }
  }
}
