.footer {
  font-family: "Montserrat", sans-serif;
  padding: 90px 0;
  background-image: url(img/Shape-top1.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100%;
  color: #ffffff;
  @media (min-width: 768px) {
    padding: 340px 0 235px 0;
  }
  .footer-text {
    text-align: left;
    display: flex;
    flex-direction: column;
    @media (min-width:768px) {
      flex-direction: row;
    }
    .footer-title {
      flex-basis: 50%;
      h3 {
        margin-bottom: 40px;
      }
      p {
        margin-bottom: 37px;
      }
      li {
        display: inline;
        list-style: none;
      }
      a {
        background-color: #ffffff;
        color: $background-sec-color;
        width: 45px;
        height: 45px;
        text-align: center;
        display: inline-block;
        border-radius: 50%;
        font-size: 30px;
        padding: 3px 8px;
        margin-right: 14px;
        &:hover {
          background-color: $background-sec-color;
          color: #ffffff;
        }
      }
    }
    .footer-info {
      flex-basis: 50%;
      display: flex;
      flex-direction: column;
      @media (min-width: 768px) {
        flex-direction: row;
      }
      li {
        list-style: none;
        @media (min-width: 768px) {
          margin-bottom: 18px;
        }
      }
      a {
        text-decoration: none;
        color: #ffffff;
        &:hover {
          color: $color-title;
        }
      }
      p {
        margin-bottom: 10px;
        font-size: 25px;
        margin-top: 20px;
        @media(min-width:768px){
          margin-bottom: 35px;
        }
      }
      .about {
        flex-basis: 40%;
      }
      .services {
        flex-basis: 40%;
      }
    }
  }
}
