.lorem {
    padding: 70px 0 100px 0;
    background-image: url(img/shadow2.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    .lorem-section {
      display: flex;
      flex-direction: column;
      @media(min-width:768px){
        flex-direction: row;
      }
      .lorem-section-text {
        flex-basis: 33.3%;
        text-align: center;
        padding-bottom: 25px;
        @media(min-width:768px){
          padding-bottom: 255px;
          text-align: left;
        }
        h2 {
          color: $lite-color;
          margin-bottom: 12px;
          font-weight: 700;
          @media(min-width:768px){
            margin-bottom: 37px;
          }
        }
      }
    }
    h1 {
      font-weight: 700;
      font-size: 70px;
    }
  }