* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  &:active,
  &:focus {
    outline: none;
  }
}
body {
  background-color: #ffffff;
  text-align: center;
  font-family: $main-font;
}
.container {
  max-width: 1110px;
  padding: 0 16px;
  margin: 0 auto;
}
.bg-dark {
  background-color: $dark-color;
}
.bg-lite {
  background-color: $lite-color;
}
