$dark-color: #68635f;
$dark2-color: #54524f;
$lite-color: #deb37e;
$input-color: #c3bfbc;
$link-read: #776c64;
$color-title: #e2a355;
$shadow-text: #e0deda;
$background-sec-color: #7f7770;
$background-color-lite: #99928d;
$main-font: "Open Sans", sans-serif;