$background-color: #fff;
$input-color: #c3bfbc;
$text-input-color: #68635f;
$link-color: #54524f;
$color-title-shadow: #deb37e;
$link-read: #776c64;
$color-title: #e2a355;
$main-font: "Open Sans", sans-serif;
$shadow-text: #e0deda;
$text-color: #54524f;
$background-sec-color: #7f7770;
$text-img-color: #fff;
$background-color-lite: #99928d;