* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:active, *:focus {
  outline: none;
}

body {
  background-color: #ffffff;
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.container {
  max-width: 1110px;
  padding: 0 16px;
  margin: 0 auto;
}

.bg-dark {
  background-color: #68635f;
}

.bg-lite {
  background-color: #deb37e;
}

.header-container {
  padding: 0 22px;
  padding-top: 30px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 768px) {
  .header-container {
    padding: 28px 55px 0 74px;
  }
}

.nave-bar {
  padding-top: 11px;
  font-size: 17px;
  font-weight: 700;
}

.nave-bar li {
  list-style: none;
  display: inline;
  padding-left: 30px;
}

.nave-bar li a {
  color: #54524f;
  text-decoration: none;
}

.nave-bar li a:hover {
  color: #deb37e;
}

.nave-bar input[type="text"] {
  width: 182px;
  height: 51px;
  font-size: 16px;
  background-color: #c3bfbc;
  background-position: 120px 10px;
  background-repeat: no-repeat;
  border: none;
  color: #68635f;
  font-weight: bold;
  padding: 12px;
  border-radius: 25px;
  position: relative;
}

.nave-bar .fa-search:before {
  font-size: 30px;
  position: absolute;
  right: 80px;
  top: 76px;
}

@media (min-width: 768px) {
  .nave-bar .fa-search:before {
    top: 49px;
  }
}

.hero {
  background-image: url(img/Shape-top.png), url(img/Shape-down.png), url(img/hero-pic.jpg);
  background-position: top, bottom;
  background-repeat: no-repeat;
  background-size: 100%, 100%, cover;
  padding-bottom: 220px;
  margin-bottom: 100px;
}

.hero .text-hero {
  padding: 32px 0;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-left: 12px;
}

@media (min-width: 768px) {
  .hero .text-hero {
    padding: 300px 0 215px 0;
    margin-left: 94px;
  }
}

.hero .text-hero h1 {
  font-weight: 600;
  color: #deb37e;
  font-size: 24px;
  margin-bottom: 10px;
  text-shadow: 1px -1px #e0deda;
}

@media (min-width: 768px) {
  .hero .text-hero h1 {
    font-size: 92px;
    text-shadow: 3px -3px #e0deda;
    font-weight: 800;
  }
}

.hero .text-hero h4 {
  margin-bottom: 34px;
  font-style: italic;
  font-weight: 700;
  color: #54524f;
  font-size: 10px;
}

@media (min-width: 768px) {
  .hero .text-hero h4 {
    margin-bottom: 67px;
    font-size: 25px;
  }
}

.hero .text-hero a {
  margin-bottom: 27px;
  background-color: #ffffff;
  padding: 15px 12px;
  border-radius: 45px;
  text-decoration: none;
  color: #776c64;
  display: inline-block;
  font-weight: 800;
  font-size: 10px;
}

.hero .text-hero a:hover {
  background-color: #776c64;
  color: #ffffff;
}

@media (min-width: 768px) {
  .hero .text-hero a {
    font-size: 25px;
    padding: 15px 34px;
  }
}

.hero .text-hero p {
  font-style: italic;
  color: #54524f;
  width: 177px;
}

@media (min-width: 768px) {
  .hero .text-hero p {
    width: 471px;
    font-size: 21px;
  }
}

.lets-go {
  background-color: #ffffff;
  background-image: url(img/shadow.png);
  background-repeat: no-repeat;
  background-position: bottom left;
  padding-bottom: 183px;
}

.lets-go h1 {
  color: #e2a355;
  font-weight: 800;
  margin-bottom: 24px;
  font-size: 32px;
}

@media (min-width: 768px) {
  .lets-go h1 {
    font-size: 62px;
    margin-bottom: 50px;
  }
}

.lets-go p {
  color: #54524f;
  font-size: 20px;
}

@media (min-width: 768) {
  .lets-go p {
    font-size: 27px;
  }
}

.lets-go .descripion {
  background-color: #7f7770;
  margin-bottom: 10px;
  padding: 60px 16px 68px 16px;
}

.lets-go .pic-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 768px) {
  .lets-go .pic-text {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.lets-go .pic-text .col {
  -ms-flex-preferred-size: 33.3%;
      flex-basis: 33.3%;
  padding: 20px;
  color: #ffffff;
}

@media (min-width: 768px) {
  .lets-go .pic-text .col {
    padding: 82px 32px 55px 32px;
  }
}

.lets-go .pic-text .pic-text-cont {
  text-align: left;
}

.lets-go .pic-text .pic-text-cont .img-box img {
  display: block;
  width: 100%;
}

.lets-go .pic-text .pic-text-cont h2 {
  font-weight: 700;
  margin-bottom: 27px;
  font-size: 29px;
}

.lets-go .pic-text .pic-text-cont p {
  color: #ffffff;
  font-size: 19px;
}

.lets-go a {
  background-color: #7f7770;
  padding: 20px 80px;
  border-radius: 45px;
  border: 1px solid #7f7770;
  text-decoration: none;
  color: #ffffff;
  display: inline-block;
  font-weight: 800;
  letter-spacing: 3px;
  margin-top: 14px;
  font-size: 20px;
}

@media (min-width: 768px) {
  .lets-go a {
    font-size: 24px;
  }
}

.lets-go a:hover {
  background-color: #ffffff;
  color: #7f7770;
}

.four-sec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 768px) {
  .four-sec {
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.four-sec .four-secion {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.four-sec .four-secion:after {
  content: "";
  padding-top: 100%;
  display: table;
}

.four-sec .four-secion > * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.four-sec .discont {
  text-align: left;
  width: 100%;
  padding: 32px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.four-sec .discont h1 {
  color: #fff;
  margin-bottom: 55px;
  font-weight: 700;
  font-size: 33px;
}

@media (min-width: 768px) {
  .four-sec .discont h1 {
    font-size: 59px;
  }
}

.four-sec .discont p {
  margin-bottom: 60px;
  color: #fff;
  font-size: 20px;
}

@media (min-width: 768px) {
  .four-sec .discont p {
    font-size: 30px;
  }
}

.four-sec .discont a {
  background-color: #e2a355;
  padding: 15px 60px;
  border-radius: 35px;
  text-decoration: none;
  color: #fff;
  display: inline-block;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 3px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.four-sec .discont a:hover {
  background-color: #fff;
  color: #e2a355;
}

@media (min-width: 768px) {
  .four-sec .discont a {
    font-size: 30px;
  }
}

.four-sec .promo {
  color: #fff;
  text-align: left;
  padding: 32px;
  margin-left: 12px;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 768px) {
  .four-sec .promo {
    margin-left: 100px;
  }
}

.four-sec .promo h1 {
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 33px;
}

@media (min-width: 768px) {
  .four-sec .promo h1 {
    font-size: 59px;
  }
}

.four-sec .promo p {
  margin-bottom: 53px;
  font-size: 20px;
}

@media (min-width: 768px) {
  .four-sec .promo p {
    font-size: 30px;
  }
}

.four-sec .promo a {
  background-color: #e2a355;
  padding: 15px 60px;
  border-radius: 35px;
  text-decoration: none;
  color: #fff;
  display: inline-block;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 3px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.four-sec .promo a:hover {
  background-color: #fff;
  color: #e2a355;
}

@media (min-width: 768px) {
  .four-sec .promo a {
    font-size: 30px;
  }
}

.four-sec .container-img {
  width: 100%;
  height: 100%;
  position: relative;
}

@media (min-width: 768px) {
  .four-sec .container-img {
    overflow: hidden;
  }
}

.four-sec .container-img img {
  width: 100%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.hicking {
  background-color: #99928d;
  background-image: url(img/Shape-top.png), url(img/Shape-down.png), url(img/shadow.png);
  background-position: top, bottom, 0 135px;
  background-repeat: no-repeat;
  background-size: 100% , 100% , auto;
  margin: 50px 0;
  padding: 100px 0;
}

@media (min-width: 768px) {
  .hicking {
    padding: 350px 0;
    margin: 100px 0 150px 0;
  }
}

.hicking h1 {
  color: #ffffff;
  margin-bottom: 42px;
  font-weight: 600;
  font-size: 28px;
}

@media (min-width: 768px) {
  .hicking h1 {
    font-size: 58px;
  }
}

.hicking p {
  color: #ffffff;
  font-size: 18px;
}

@media (min-width: 768px) {
  .hicking p {
    font-size: 29px;
  }
}

.explore {
  background-image: url(img/Shape-top.png), url(img/Shape-down2.png), url(img/img6.jpg);
  background-repeat: no-repeat;
  background-position: top, bottom;
  background-size: 100%, 100%, cover;
  margin-bottom: 20px;
  padding: 100px 0;
}

@media (min-width: 768px) {
  .explore {
    padding: 488px 0;
    margin-bottom: 100px;
  }
}

.explore .explore-text {
  text-align: right;
  padding: 0 25px;
}

@media (min-width: 768px) {
  .explore .explore-text {
    padding: 0 100px;
  }
}

.explore .explore-text h1 {
  font-weight: 600;
  font-style: italic;
  font-size: 24px;
  color: #deb37e;
  text-shadow: 1px -1px #e0deda;
}

@media (min-width: 768px) {
  .explore .explore-text h1 {
    font-size: 75px;
    font-weight: 800;
    text-shadow: 5px -5px #e0deda;
  }
}

.explore .explore-text h2 {
  font-weight: 600;
  font-style: italic;
  font-size: 24px;
  color: #54524f;
  text-shadow: 1px -1px #e0deda;
}

@media (min-width: 768px) {
  .explore .explore-text h2 {
    font-size: 83px;
    font-weight: 800;
    text-shadow: 5px -5px #e0deda;
  }
}

.lorem {
  padding: 70px 0 100px 0;
  background-image: url(img/shadow2.png);
  background-repeat: no-repeat;
  background-position: right bottom;
}

.lorem .lorem-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 768px) {
  .lorem .lorem-section {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.lorem .lorem-section .lorem-section-text {
  -ms-flex-preferred-size: 33.3%;
      flex-basis: 33.3%;
  text-align: center;
  padding-bottom: 25px;
}

@media (min-width: 768px) {
  .lorem .lorem-section .lorem-section-text {
    padding-bottom: 255px;
    text-align: left;
  }
}

.lorem .lorem-section .lorem-section-text h2 {
  color: #deb37e;
  margin-bottom: 12px;
  font-weight: 700;
}

@media (min-width: 768px) {
  .lorem .lorem-section .lorem-section-text h2 {
    margin-bottom: 37px;
    font-size: 33px;
  }
}

.lorem .lorem-section .lorem-section-text p {
  font-size: 19px;
}

.lorem .Lorem-ipsum h1 {
  font-weight: 700;
  font-size: 70px;
}

@media (min-width: 768px) {
  .lorem .Lorem-ipsum h1 {
    font-size: 100px;
  }
}

.lorem .Lorem-ipsum p {
  font-size: 16px;
  font-weight: 600;
}

@media (min-width: 768px) {
  .lorem .Lorem-ipsum p {
    font-size: 25px;
  }
}

.title-here {
  padding: 90px 0;
  background-image: url(img/Shape-top2.png), url(img/Shape-down3.png);
  background-repeat: no-repeat;
  background-position: top, bottom;
  background-size: 100%;
  margin-bottom: 100px;
}

@media (min-width: 768px) {
  .title-here {
    padding: 230px 0;
  }
}

.title-here h1 {
  color: #ffffff;
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .title-here h1 {
    margin-bottom: 75px;
    font-size: 75px;
  }
}

.title-here p {
  font-size: 12px;
  color: #54524f;
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  .title-here p {
    font-size: 30px;
    margin-bottom: 85px;
  }
}

.title-here .sup-form {
  background-color: #ffffff;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 30px;
  max-width: 350px;
}

@media (min-width: 768px) {
  .title-here .sup-form {
    max-width: 900px;
  }
}

.title-here .sup-form input[type="text"] {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 50px;
  font-size: 16px;
  background-color: #ffffff;
  border: none;
  color: #68635f;
  padding: 23px 24px;
  border-radius: 25px;
}

@media (min-width: 768px) {
  .title-here .sup-form input[type="text"] {
    height: 60px;
    padding: 23px 37px;
    border-radius: 30px;
    font-size: 25px;
  }
}

.title-here .sup-form button {
  padding: 18px 16px;
  background: #54524f;
  color: #ffffff;
  font-size: 14px;
  border-radius: 30px;
  border: none;
  font-weight: 700;
}

@media (min-width: 768px) {
  .title-here .sup-form button {
    padding: 18px 40px;
    font-size: 25px;
  }
}

.explore {
  background-image: url(img/Shape-top.png), url(img/Shape-down2.png), url(img/img6.jpg);
  background-repeat: no-repeat;
  background-position: top, bottom;
  background-size: 100%, 100%, cover;
  margin-bottom: 20px;
  padding: 100px 0;
}

@media (min-width: 768px) {
  .explore {
    padding: 488px 0;
    margin-bottom: 100px;
  }
}

.explore .explore-text {
  text-align: right;
  padding: 0 25px;
}

@media (min-width: 768px) {
  .explore .explore-text {
    padding: 0 100px;
  }
}

.explore .explore-text h1 {
  font-weight: 600;
  font-style: italic;
  font-size: 24px;
  color: #deb37e;
  text-shadow: 1px -1px #e0deda;
}

@media (min-width: 768px) {
  .explore .explore-text h1 {
    font-size: 75px;
    font-weight: 800;
    text-shadow: 5px -5px #e0deda;
  }
}

.explore .explore-text h2 {
  font-weight: 600;
  font-style: italic;
  font-size: 24px;
  color: #54524f;
  text-shadow: 1px -1px #e0deda;
}

@media (min-width: 768px) {
  .explore .explore-text h2 {
    font-size: 83px;
    font-weight: 800;
    text-shadow: 5px -5px #e0deda;
  }
}

.footer {
  font-family: "Montserrat", sans-serif;
  padding: 90px 0;
  background-image: url(img/Shape-top1.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100%;
  color: #ffffff;
}

@media (min-width: 768px) {
  .footer {
    padding: 340px 0 235px 0;
  }
}

.footer .footer-text {
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 768px) {
  .footer .footer-text {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.footer .footer-text .footer-title {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.footer .footer-text .footer-title h3 {
  margin-bottom: 40px;
  font-size: 31px;
}

.footer .footer-text .footer-title p {
  margin-bottom: 37px;
  font-size: 16px;
}

@media (min-width: 768px) {
  .footer .footer-text .footer-title p {
    font-size: 24px;
  }
}

.footer .footer-text .footer-title li {
  display: inline;
  list-style: none;
}

.footer .footer-text .footer-title a {
  background-color: #ffffff;
  color: #7f7770;
  width: 45px;
  height: 45px;
  text-align: center;
  display: inline-block;
  border-radius: 50%;
  font-size: 30px;
  padding: 3px 8px;
  margin-right: 14px;
}

.footer .footer-text .footer-title a:hover {
  background-color: #7f7770;
  color: #ffffff;
}

.footer .footer-text .footer-info {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 768px) {
  .footer .footer-text .footer-info {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.footer .footer-text .footer-info li {
  list-style: none;
}

@media (min-width: 768px) {
  .footer .footer-text .footer-info li {
    margin-bottom: 18px;
    font-size: 22px;
  }
}

.footer .footer-text .footer-info a {
  text-decoration: none;
  color: #ffffff;
}

.footer .footer-text .footer-info a:hover {
  color: #e2a355;
}

.footer .footer-text .footer-info p {
  margin-bottom: 10px;
  font-size: 31px;
  margin-top: 20px;
}

@media (min-width: 768px) {
  .footer .footer-text .footer-info p {
    margin-bottom: 35px;
  }
}

.footer .footer-text .footer-info .about {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.footer .footer-text .footer-info .services {
  -ms-flex-preferred-size: 43%;
      flex-basis: 43%;
}
/*# sourceMappingURL=style.css.map */