.prcoess-steps-progress-container {
  max-width: 600px;
  margin: 0 auto;
  position: relative;
  .prcoess-steps-progress {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    text-align: center;
    padding: 0;
    margin: 0;
    position: relative;
    z-index: 1;
    list-style: none;
    counter-reset: step-number;
    &[data-active-step="1"] {
      li {
        &:nth-child(1) {
          a {
            color: $primary;
            &:before {
              background-color: $primary;
              border-color: $primary;
            }
            &:after {
              color: #fff;
            }
          }
        }
      }
    }
    &[data-active-step="2"] {
      + .progress {
        .progress-bar {
          width: 33.33%;
        }
      }
      li {
        &:nth-child(1),
        &:nth-child(2) {
          a {
            color: $primary;
            &:before {
              background-color: $primary;
              border-color: $primary;
            }
            &:after {
              color: #fff;
            }
          }
        }
      }
    }
    &[data-active-step="3"] {
      + .progress {
        .progress-bar {
          width: 66.67%;
        }
      }
      li {
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3) {
          a {
            color: $primary;
            &:before {
              background-color: $primary;
              border-color: $primary;
            }
            &:after {
              color: #fff;
            }
          }
        }
      }
    }
    &[data-active-step="4"] {
      + .progress {
        .progress-bar {
          width: 100%;
        }
      }
      li {
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4) {
          a {
            color: $primary;
            &:before {
              background-color: $primary;
              border-color: $primary;
            }
            &:after {
              color: #fff;
            }
          }
        }
      }
    }
    li {
      counter-increment: step-number;
      a {
        position: relative;
        padding-top: 60px;
        background-color: transparent;
        border: none;
        color: #c5c5c5;
        font-weight: 900;
        display: block;
        @include media-breakpoint-down("md", $grid-breakpoints) {
          font-size: 10px;
        }
        &.active {
          color: $primary;
          &:before {
            background-color: $primary;
            border-color: $primary;
          }
          &:after {
            color: #fff;
          }
        }
        &:before,
        &:after {
          display: inline-block;
          position: absolute;
          top: 0;
          /*rtl:begin:ignore*/
          transform: translateX(-50%);
          left: 50%;
          /*rtl:end:ignore*/
          transition: all 0.3s;
        }
        &:before {
          content: "";
          height: 48px;
          width: 48px;
          border: 2px solid #b9b9b9;
          border-radius: 50%;
          background-color: #fff;
        }
        &:after {
          content: "0" counter(step-number);
          line-height: 50px;
          color: #b9b9b9;
        }
      }
    }
  }
  .progress {
    position: absolute;
    width: 100%;
    top: 22px;
    left: 50px;
    height: 2px;
    width: calc(100% - 100px);
  }
}
.process-content {
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  table {
    width: 100%;
    tr {
      td,
      th {
        padding: 10px 4px;
      }
      th {
        width: 150px;
      }
    }
  }

  .insurance-includes-list {
    li {
      position: relative;
      padding-left: 26px;
      margin-bottom: 4px;
      &:before {
        content: "";
        position: absolute;
        top: 1px;
        left: 0;
        height: 18px;
        width: 18px;
        border-radius: 7px;
        background-color: $secondary;
        background-image: $form-check-input-checked-bg-image;
      }
    }
  }
  .insurance-extra-list {
    li {
      position: relative;
      padding-right: 24px;
      margin-bottom: 8px;
      span {
        position: absolute;
        top: 0;
        right: 0;
        padding: 2px;
        height: 20px;
        width: 20px;
        background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'><g fill='#797979'><path d='M22 12A10 10 0 1 1 12 2a10 10 0 0 1 10 10z' opacity='0.25' transform='translate(-2 -2)'/><path fill-rule='evenodd' d='M11.133 9.5a1 1 0 0 1-1.733-1 2.978 2.978 0 1 1 4.1 4c-.664.406-.25 1.5-1.5 1.5a1 1 0 0 1-1-1 1.021 1.021 0 0 1 0-.1 2.191 2.191 0 0 1 .52-1.272 3.594 3.594 0 0 1 .9-.762c1.52-.906-.33-2.751-1.287-1.366zM12 15a1 1 0 1 0 1 1 1 1 0 0 0-1-1z' transform='translate(-2 -2)'/></g></svg>");
      }
    }
  }
}
.alert-custom-warning {
  color: #fff;
  background-color: $warning;
  border-color: $warning;
  padding: 10px 12px;
  font-size: 14px;
  margin: 0;
}
.company-logo-container {
  max-width: 100px;
  margin: 0 auto;
  cursor: pointer;
  img {
    width: 100%;
  }
}
.owner-info {
  h4 {
    a {
      color: #000;
    }
    @include media-breakpoint-down("sm", $grid-breakpoints) {
      font-size: 1rem;
    }
  }
}

.owner-info-toggle {
  position: relative;
  display: block;
  &[aria-expanded="true"] {
    .arrow {
      transform: translateY(-50%) scaleX(-1) rotate(-90deg) #{"/*rtl:translateY(-50%) rotate(-90deg)*/"};
    }
  }
  .arrow {
    position: absolute;
    transform: translateY(-50%) scaleX(-1) #{"/*rtl:translateY(-50%)*/"};
    top: 50%;
    right: 1rem;
    display: inline-block;
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 492 492'><path fill='#000' d='M198.608,246.104L382.664,62.04c5.068-5.056,7.856-11.816,7.856-19.024c0-7.212-2.788-13.968-7.856-19.032l-16.128-16.12 C361.476,2.792,354.712,0,347.504,0s-13.964,2.792-19.028,7.864L109.328,227.008c-5.084,5.08-7.868,11.868-7.848,19.084 c-0.02,7.248,2.76,14.028,7.848,19.112l218.944,218.932c5.064,5.072,11.82,7.864,19.032,7.864c7.208,0,13.964-2.792,19.032-7.864 l16.124-16.12c10.492-10.492,10.492-27.572,0-38.06L198.608,246.104z'/></svg>");
    width: 16px;
    height: 16px;
    background-size: cover;
    background-repeat: no-repeat;
    transition: transform 0.3s;
  }
}

.terms-conditions-link {
  color: #000;
  text-decoration: underline;
}
.btn-delete-icon,
.btn-edit-icon {
  transition: opacity 0.3s;
  span {
    display: inline-block;
    height: 16px;
    width: 16px;
    background-size: cover;
  }
  &:hover {
    opacity: 0.7;
  }
}
.btn-edit-icon {
  span {
    background-image: url("data:image/svg+xml,<svg viewBox='0 0 492.49284 492' xmlns='http://www.w3.org/2000/svg'><g fill='#{$secondary}' ><path d='m304.140625 82.472656-270.976563 270.996094c-1.363281 1.367188-2.347656 3.09375-2.816406 4.949219l-30.035156 120.554687c-.898438 3.628906.167969 7.488282 2.816406 10.136719 2.003906 2.003906 4.734375 3.113281 7.527344 3.113281.855469 0 1.730469-.105468 2.582031-.320312l120.554688-30.039063c1.878906-.46875 3.585937-1.449219 4.949219-2.8125l271-270.976562zm0 0'/><path d='m476.875 45.523438-30.164062-30.164063c-20.160157-20.160156-55.296876-20.140625-75.433594 0l-36.949219 36.949219 105.597656 105.597656 36.949219-36.949219c10.070312-10.066406 15.617188-23.464843 15.617188-37.714843s-5.546876-27.648438-15.617188-37.71875zm0 0'/></g></svg>");
  }
}
.btn-delete-icon {
  span {
    background-image: url("data:image/svg+xml,<svg  viewBox='0 0 512 512' xmlns='http://www.w3.org/2000/svg'><g fill='#{$secondary}'><path d='m424 64h-88v-16c0-26.51-21.49-48-48-48h-64c-26.51 0-48 21.49-48 48v16h-88c-22.091 0-40 17.909-40 40v32c0 8.837 7.163 16 16 16h384c8.837 0 16-7.163 16-16v-32c0-22.091-17.909-40-40-40zm-216-16c0-8.82 7.18-16 16-16h64c8.82 0 16 7.18 16 16v16h-96z'/><path d='m78.364 184c-2.855 0-5.13 2.386-4.994 5.238l13.2 277.042c1.22 25.64 22.28 45.72 47.94 45.72h242.98c25.66 0 46.72-20.08 47.94-45.72l13.2-277.042c.136-2.852-2.139-5.238-4.994-5.238zm241.636 40c0-8.84 7.16-16 16-16s16 7.16 16 16v208c0 8.84-7.16 16-16 16s-16-7.16-16-16zm-80 0c0-8.84 7.16-16 16-16s16 7.16 16 16v208c0 8.84-7.16 16-16 16s-16-7.16-16-16zm-80 0c0-8.84 7.16-16 16-16s16 7.16 16 16v208c0 8.84-7.16 16-16 16s-16-7.16-16-16z'/></g></svg>");
  }
}
