.step2 {
  .company-logo-container {
    max-width: 137px;
    img {
      width: 100%;
    }
  }
  a {
    color: #000;
    text-decoration: underline;
    &:hover {
      color: $primary;
    }
  }
}
