.step3 {
  .company-logo-container {
    max-width: 137px;
    img {
      width: 100%;
    }
  }
  .details {
    background-color: rgba(167, 225, 250, 0.5);
    padding: 27px 21px 45px 25px;
    border-radius: 20px;
    .btn-warning {
      font-size: 14px;
      color: #fff;
      padding: 12px;
    }
    a {
      text-decoration: underline;
      color: $primary;
      &:hover {
        color: #000;
      }
    }
  }
  h2 {
    font-size: 30px;
    font-weight: 900;
    margin-bottom: 26px;
  }
  .car-photo {
    margin-bottom: 98px;
    .upload-btn {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
    .img-container {
      display: flex;
      flex-direction: column;
      margin-right: 56px;
    }
  }

  .payment-method {
    background-color: #f7f7f7;
    display: flex;
    align-content: center;
    display: block;
    padding-bottom: 56%;
    position: relative;
    img {
      position: absolute;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
      width: 45%;
    }
    input {
      position: absolute;
      top: 20px;
      left: 20px;
      opacity: 0;
      &:checked {
        opacity: 1; 
      }
      &:after {
        content: "";
        position: absolute;
        top: -5px;
        left: -5px;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        background-color: $secondary;
        background-image: $form-check-input-checked-bg-image;
      }
    }
  }
}
