.step1 {
  .drivers-list {
    table {
      th,
      td {
        vertical-align: middle;
      }
    }
    .add-driver-btn {
      color: $primary;
      font-weight: 900;
      text-align: left;
      span {
        background-image: url("data:image/svg+xml,<svg viewBox='0 0 512 512' xmlns='http://www.w3.org/2000/svg'><g fill='#{$primary}' ><path d='m256 0c-141.164062 0-256 114.835938-256 256s114.835938 256 256 256 256-114.835938 256-256-114.835938-256-256-256zm112 277.332031h-90.667969v90.667969c0 11.777344-9.554687 21.332031-21.332031 21.332031s-21.332031-9.554687-21.332031-21.332031v-90.667969h-90.667969c-11.777344 0-21.332031-9.554687-21.332031-21.332031s9.554687-21.332031 21.332031-21.332031h90.667969v-90.667969c0-11.777344 9.554687-21.332031 21.332031-21.332031s21.332031 9.554687 21.332031 21.332031v90.667969h90.667969c11.777344 0 21.332031 9.554687 21.332031 21.332031s-9.554687 21.332031-21.332031 21.332031zm0 0'/></g></svg>");
        width: 25px;
        height: 25px;
        display: inline-block;
        vertical-align: middle;
      }
    }
    @include media-breakpoint-up("lg", $grid-breakpoints) {
      .table-striped {
        tr {
          td:nth-child(1) {
            width: 20%;
          }
          td:nth-child(2) {
            width: 10%;
          }
          td:nth-child(3) {
            width: 20%;
          }
          td:nth-child(4) {
            width: 30%;
          }
          td:nth-child(5) {
            width: 20%;
          }
        }
      }
    }
  }
}
.drivers-table {
  td,
  th {
    @include media-breakpoint-up("lg", $grid-breakpoints) {
      padding: 4px 15px;
    }
  }
  tbody {
    tr {
      --bs-table-accent-bg: var(--bs-table-striped-bg);
    }
  }

  /*
	Max width before this PARTICULAR table gets nasty. This query will take effect for any screen smaller than 760px and also iPads specifically.
	*/
  @media only screen and (max-width: 760px),
    (min-device-width: 768px) and (max-device-width: 1024px) {
    /* Force table to not be like tables anymore */
    table,
    tbody,
    th,
    td {
      display: block;
    }
    tr {
      display: flex;
      flex-direction: column;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    thead {
      display: none;
    }

    tr {
      margin: 0 0 1rem 0;
      &:last-child {
        margin-bottom: 0;
      }
    }
    td {
      /* Behave  like a "row" */
      border: none;
      border-bottom: 1px solid #f4f4f4;
      position: relative;
      padding: 0.75rem;
      &:before {
        position: absolute;
        left: 10px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
      }
      &:not(.options-cell):not(.driving-percentage-cell) {
        &:before {
          transform: translateY(-50%);
          top: 50%;
        }
        padding-left: 50%;
      }
      &.driving-percentage-cell {
        &:before {
          top: 4px;
        }
        padding-top: 40px;
      }
    }

    td:nth-of-type(n):before {
      content: attr(title);
      font-weight: bold;
    }
  }
}
