.step4 {
  .pay-done {
    background-color: rgba(244, 244, 244, 0.5);
    padding: 64px 48px;
    text-align: center;
    max-width: 540px;
    border-radius: 60px;
    margin: 0 auto;
    margin-bottom: 230px;
    h3 {
      font-size: 30px;
      font-weight: 900;
    }
    h4 {
      font-size: 23px;
      font-weight: 900;
    }
    p {
      font-size: 17px;
      font-weight: 500;
    }
  }
  .img-container{
    max-width: 265px;
    margin: 0 auto;
    img{
      width: 100%;
    }
  }
}
