@font-face {
  font-family: 'TradeGothicLTStd';
  src: url("fonts/TradeGothicLTStd-BdCn20.eot");
  src: url("fonts/TradeGothicLTStd-BdCn20.eot?#iefix") format("embedded-opentype"), url("fonts/TradeGothicLTStd-BdCn20.woff2") format("woff2"), url("fonts/TradeGothicLTStd-BdCn20.woff") format("woff"), url("fonts/TradeGothicLTStd-BdCn20.ttf") format("truetype"), url("fonts/TradeGothicLTStd-BdCn20.svg#TradeGothicLTStd-BdCn20") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #cbcbcb;
  text-align: center;
  font-family: "TradeGothicLTStd", Arial, Helvetica, sans-serif;
}

/*common style*/
.container {
  max-width: 1110px;
  padding: 0 16px;
  margin: 0 auto;
}

.go-to-link {
  background-color: #83b84b;
  padding: 17px 19px;
  text-decoration: none;
  color: #fff;
  border-radius: 4px;
  border: 1px solid #83b84b;
  border-bottom: 4px solid #6f9c40;
  -webkit-transition: all 200ms;
  transition: all 200ms;
}

.go-to-link:hover {
  color: #83b84b;
  background-color: #fff;
}

@media (min-width: 768px) {
  .go-to-link {
    padding: 15px 30px;
  }
}

/*End common style*/
/* HEADER */
.header {
  padding: 40px 0;
  background-color: #fff;
}

@media (min-width: 768px) {
  .header {
    padding: 40px 0;
  }
}

.header .logo-contianer {
  width: 60px;
  margin: 0 auto;
}

.header .logo-contianer img {
  width: 50%;
}

@media (min-width: 768px) {
  .header .logo-contianer img {
    width: 100%;
  }
}

/* END HEADER */
/* HERO IMAGE */
.hero {
  padding: 75px 0;
  background-image: url("img/pic1.jpg");
  background-size: cover;
  color: #fff;
}

@media (min-width: 768px) {
  .hero {
    padding: 50px 0;
  }
}

@media (min-width: 992px) {
  .hero {
    padding: 120px 0;
  }
}

.hero h2 {
  font-size: 24px;
  margin: 0 auto;
  margin-bottom: 63px;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .hero h2 {
    font-size: 25px;
    margin-bottom: 60px;
    max-width: 640px;
  }
}

@media (min-width: 992px) {
  .hero h2 {
    font-size: 28px;
  }
}

.hero h4 {
  margin-bottom: 30px;
  font-size: 13px;
}

@media (min-width: 768px) {
  .hero h4 {
    margin-bottom: 30px;
    font-size: 20px;
  }
}

.hero p {
  margin: 0 auto;
}

/* END HERO IMAGE */
/* MARKETING DIGITAL */
.marketig-digital {
  background-color: #fff;
  padding: 90px 0 85px 0;
}

@media (min-width: 768px) {
  .marketig-digital {
    padding: 23px 0 35px 0;
  }
}

@media (min-width: 992px) {
  .marketig-digital {
    padding: 100px 0 90px 0;
  }
}

.marketig-digital h2 {
  font-size: 21px;
  margin: 0 auto;
  margin-bottom: 45px;
}

@media (min-width: 768px) {
  .marketig-digital h2 {
    margin-bottom: 40px;
  }
}

.marketig-digital p {
  margin: 0 auto;
  margin-bottom: 35px;
}

@media (min-width: 768px) {
  .marketig-digital p {
    margin-bottom: 55px;
  }
}

/* END MARKETING DIGITAL */
/* Empizer*/
.empizer {
  background-color: #ebebeb;
  padding: 90px 0;
  background-image: url("img/pic2.jpg");
  background-repeat: no-repeat;
  padding-bottom: 66%;
  background-position: bottom;
  background-size: 100% auto;
}

@media (min-width: 768px) {
  .empizer {
    padding: 16px 0;
    background-position: right;
    background-size: 55% auto;
  }
}

@media (min-width: 992px) {
  .empizer {
    padding: 80px 0 130px 0;
    background-size: 50% auto;
  }
}

@media (min-width: 768px) {
  .empizer .container .text {
    width: 45%;
  }
}

@media (min-width: 992px) {
  .empizer .container .text {
    width: 50%;
  }
}

.empizer h2 {
  margin: 0 auto;
  margin-bottom: 40px;
  font-size: 20px;
}

@media (min-width: 768px) {
  .empizer h2 {
    font-size: 24px;
    margin-bottom: 15px;
    font-size: larger;
  }
}

@media (min-width: 992px) {
  .empizer h2 {
    margin-bottom: 40px;
  }
}

.empizer ul li {
  margin: 0 auto;
  margin-bottom: 24px;
  list-style-position: inside;
}

@media (min-width: 768px) {
  .empizer ul li {
    margin-bottom: 25px;
  }
}

/*End Empizer*/
/*main-text*/
.main-text {
  padding: 90px 0;
  background-color: #fff;
}

@media (min-width: 768px) {
  .main-text {
    padding: 25px 0;
  }
}

@media (min-width: 992px) {
  .main-text {
    padding: 140px 0 155px 0;
  }
}

.main-text h3 {
  font-size: 24px;
  font-weight: lighter;
}

@media (min-width: 768px) {
  .main-text h3 {
    font-size: x-large;
  }
}

.main-text h2 {
  margin: 0 auto;
  margin-bottom: 55px;
  font-size: 18px;
}

@media (min-width: 768px) {
  .main-text h2 {
    margin-bottom: 55px;
  }
}

.main-text h4 {
  font-weight: bolder;
  margin: 0 auto;
  margin-bottom: 34px;
}

@media (min-width: 768px) {
  .main-text h4 {
    margin-bottom: 30px;
  }
}

/*End main-text*/
/*TestMonios*/
.testmonios {
  padding: 90px 0;
  background-image: url("img/pic3.jpg");
  background-size: cover;
  color: #fff;
}

@media (min-width: 768px) {
  .testmonios {
    padding: 85px 0;
  }
}

@media (min-width: 992px) {
  .testmonios {
    padding: 35px 0;
  }
}

.testmonios h2 {
  text-align: center;
  margin-bottom: 95px;
  font-size: large;
}

@media (min-width: 768px) {
  .testmonios h2 {
    margin-bottom: 12px;
    font-size: x-large;
  }
}

@media (min-width: 992) {
  .testmonios h2 {
    margin-bottom: 95px;
    font-size: xx-large;
  }
}

.testmonios .test-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 768px) {
  .testmonios .test-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.testmonios .test-list .test-list-item {
  padding: 32px 0;
}

.testmonios .test-list .test-list-item h4 {
  margin-bottom: 25px;
}

.testmonios .test-list .test-list-item img {
  width: 100%;
}

@media (min-width: 768px) {
  .testmonios .test-list .test-list-item {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    padding: 20px;
  }
  .testmonios .test-list .test-list-item h4 {
    margin-bottom: 20px;
  }
}

@media (min-width: 992px) {
  .testmonios .test-list .test-list-item {
    padding: 52px;
  }
}

.container-img {
  width: 80px;
  height: 80px;
  margin: 0 auto;
  margin-bottom: 20px;
  border-radius: 50%;
  overflow: hidden;
}

@media (min-width: 768px) {
  .container-img {
    margin-bottom: 20px;
  }
}

/*End TestMonios*/
/*Icon*/
.icon {
  padding: 95px 0;
  background-size: cover;
  background-color: #fff;
}

@media (min-width: 768px) {
  .icon {
    padding: 20px 0;
  }
}

@media (min-width: 992px) {
  .icon {
    padding: 120px 0 175px 0;
  }
}

.icon .test-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 768px) {
  .icon .test-icon {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.icon .test-icon .test-icon-item {
  padding: 45px 0;
}

.icon .test-icon .test-icon-item img {
  margin-bottom: 30px;
}

.icon .test-icon .test-icon-item h4 {
  margin-bottom: 10px;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .icon .test-icon .test-icon-item {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    padding: 10px;
  }
}

@media (min-width: 992px) {
  .icon .test-icon .test-icon-item {
    padding: 60px;
  }
}

.container-icon {
  width: 110px;
  height: 110px;
  margin: 0 auto;
  margin-bottom: 8px;
  border-radius: 50%;
  overflow: hidden;
}

.container-icon img {
  max-width: 100%;
}

/*End Icon*/
/*acaba*/
.acaba {
  padding: 100px 0;
  background-color: #ebebeb;
}

@media (min-width: 768px) {
  .acaba {
    padding: 20px 0;
  }
}

@media (min-width: 992px) {
  .acaba {
    padding: 100px 0 140px 0;
  }
}

.acaba h1 {
  margin-bottom: 65px;
  font-size: 20px;
  font-weight: 700;
}

@media (min-width: 768px) {
  .acaba h1 {
    margin-bottom: 25px;
    font-size: 24px;
  }
}

@media (min-width: 992px) {
  .acaba h1 {
    margin-bottom: 75px;
  }
}

.acaba p {
  margin-bottom: 45px;
}

@media (min-width: 768px) {
  .acaba p {
    margin-bottom: 50px;
  }
}

/*End acaba*/
/*prensa*/
.prensa {
  padding: 105px 0;
  background-color: #fff;
}

@media (min-width: 768px) {
  .prensa {
    padding: 25px 0;
  }
}

@media (min-width: 992px) {
  .prensa {
    padding: 160px 0 130px 0;
  }
}

.prensa h1 {
  margin-bottom: 70px;
  font-weight: bolder;
  font-size: large;
}

@media (min-width: 768px) {
  .prensa h1 {
    margin-bottom: 24px;
    font-size: xx-large;
  }
}

@media (min-width: 992px) {
  .prensa h1 {
    margin-bottom: 95px;
  }
}

.prensa img {
  margin-bottom: 95px;
}

@media (min-width: 768px) {
  .prensa img {
    margin-bottom: 25px;
  }
}

@media (min-width: 992px) {
  .prensa img {
    margin-bottom: 120px;
  }
}

.prensa-img img {
  max-width: 100%;
}
/*# sourceMappingURL=style.css.map */