.school-rate {
  background-image: url(img/img3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding-left: 10px;
  @media (min-width: 768px) {
    padding-left: 30px;
  }
  @media (min-width: 992px) {
    padding-left: 55px;
  }
  .rate-info {
    color: #fff;
    width: 250px;
    background: linear-gradient(to bottom, #ff4762, #f71e99);
    padding: 10px;
    text-align: left;
    opacity: 0.92;
    @media (min-width: 768px) {
      width: 400px;
      padding: 28px;
    }
    @media (min-width: 992px) {
      width: 650px;
      padding: 80px 90px 90px 75px;
    }
    h1 {
      font-size: 22px;
      font-weight: 500;
      margin-bottom: 12px;
      @media (min-width: 768px) {
        font-size: 26px;
        margin-bottom: 30px;
      }
      @media (min-width: 992px) {
        font-size: 51px;
        margin-bottom: 60px;
      }
    }
    p {
      font-size: 16px;
      font-weight: 400;
      margin-bottom: 14px;
      @media (min-width: 768px) {
        font-size: 17px;
        margin-bottom: 15px;
      }
      @media (min-width: 992px) {
        font-size: 23px;
        margin-bottom: 55px;
      }
    }
    a {
      text-decoration: none;
      color: #000;
      background-color: #fff;
      font-size: 16px;
      font-weight: 400;
      padding: 20px 30px;
      @media (min-width: 768px) {
        font-size: 16px;
        padding: 14px 30px;
      }
      @media (min-width: 992px) {
        font-size: 23px;
        padding: 30px 60px;
      }
      &:hover {
        color: #fff;
        background-color: #000;
      }
    }
  }
}
