@font-face {
    font-family: 'TradeGothicLTStd';
    src: url('fonts/TradeGothicLTStd-BdCn20.eot');
    src: url('fonts/TradeGothicLTStd-BdCn20.eot?#iefix') format('embedded-opentype'),
        url('fonts/TradeGothicLTStd-BdCn20.woff2') format('woff2'),
        url('fonts/TradeGothicLTStd-BdCn20.woff') format('woff'),
        url('fonts/TradeGothicLTStd-BdCn20.ttf') format('truetype'),
        url('fonts/TradeGothicLTStd-BdCn20.svg#TradeGothicLTStd-BdCn20') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
