$main-color: #cbcbcb;
$main-font: "TradeGothicLTStd", Arial, Helvetica, sans-serif;
$buttun-color: #83b84b;
$text-color: #fff;
$border-buttn-color: #6f9c40;
$background-color: #fff;
$background-section: #ebebeb;
