<div class="modal fade" id="extra-driver-modal" tabindex="-1" role="dialog">
  <div
    class="modal-dialog modal-dialog-aside modal-dialog-scrollable modal-lg"
    role="document"
  >
    <form class="form-dark">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title"><strong>إضافة سائق إضافي</strong></h5>
          <button
            type="button"
            class="btn btn-link"
            data-bs-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&#x2715;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row gx-2 gy-2 mb-3 mb-md-5">
            <div class="col-12">
              <div class="form-floating">
                <input
                  type="text"
                  class="form-control form-control-lg"
                  id="idNumber"
                  placeholder="رقم هوية/إقامة السائق"
                />
                <label for="idNumber" class="form-label"
                  >رقم هوية/إقامة السائق</label
                >
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="form-floating">
                <select
                  class="form-select form-control form-control-lg"
                  id="education-level"
                >
                  <option>اختر مستوى التعليم</option>
                  <option>جامعي</option>
                  <option>ثانوي</option>
                </select>
                <label for="education-level" class="form-label"
                  >مستوى التعليم</label
                >
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="form-floating">
                <select
                  class="form-select form-control form-control-lg"
                  id="children-num"
                >
                  <option>اختر عدد الأطفال</option>
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                </select>
                <label for="children-num" class="form-label"
                  >عدد الأطفال دون عمر ال 16</label
                >
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="form-floating">
                <input
                  type="text"
                  class="form-control form-control-lg from-control-birthdatepicker"
                  id="brithdaydate"
                  placeholder="تاريخ الميلاد"
                  readonly
                />
                <label for="brithdaydate" class="form-label"
                  >تاريخ الميلاد</label
                >
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="form-floating">
                <select
                  class="form-select form-control form-control-lg"
                  id="accident-num"
                >
                  <option>اختر عدد الحوادث</option>
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                </select>
                <label for="accident-num" class="form-label">عدد الحوادث</label>
              </div>
            </div>
          </div>
          <div class="form-check mb-3">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="address"
              data-bs-toggle="collapse"
              data-bs-target="#address-collapsable"
              aria-expanded="false"
              aria-controls="address-collapsable"
            />
            <label class="form-check-label" for="address">
              عنوان المنزل غير مطابق لعنوان مالك الوثيقة
            </label>
          </div>
          <div class="collapse" id="address-collapsable">
            <div class="form-floating mb-4">
              <select
                class="form-select form-control form-control-lg"
                id="choose-city"
              >
                <option>اختر المدينة</option>
                <option>جده</option>
                <option>الرياض</option>
                <option>مكة</option>
              </select>
              <label for="choose-city" class="form-label">اختر المدينة</label>
            </div>
          </div>
          <div class="form-check mb-3">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="address-job"
              data-bs-toggle="collapse"
              data-bs-target="#address-job-collapsable"
              aria-expanded="false"
              aria-controls="address-job-collapsable"
            />
            <label class="form-check-label" for="address-job">
              هل عنوان العمل نفس عنوان مالك الوثيقة
            </label>
          </div>
          <div class="collapse" id="address-job-collapsable">
            <div class="form-floating mb-4">
              <select
                class="form-select form-control form-control-lg"
                id="choose-city"
              >
                <option>اختر المدينة</option>
                <option>جده</option>
                <option>الرياض</option>
                <option>مكة</option>
              </select>
              <label for="choose-city" class="form-label">اختر المدينة</label>
            </div>
          </div>
          <div class="form-check mb-3">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="kinship-driver"
              data-bs-toggle="collapse"
              data-bs-target="#kinship-driver-collapsable"
              aria-expanded="false"
              aria-controls="kinship-driver-collapsable"
            />
            <label class="form-check-label" for="kinship-driver">
              هل للسائق صلة قرابة بمالك الوثيقة؟
            </label>
          </div>
          <div class="collapse" id="kinship-driver-collapsable">
            <div class="form-floating mb-4">
              <select
                class="form-select form-control form-control-lg"
                id="kinship-choose"
              >
                <option>اختر صلة القرابة</option>
                <option>ابن عم</option>
                <option>اخ</option>
              </select>
              <label for="kinship-choose" class="form-label"
                >اختر صلة القرابة</label
              >
            </div>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="driver-health"
              data-bs-toggle="collapse"
              data-bs-target="#health-details-collapsable"
              aria-expanded="false"
              aria-controls="health-details-collapsable"
            />
            <label class="form-check- mb-3" for="driver-health">
              لدى السائق ظروف صحية أو قيود على الرخصة
            </label>
          </div>
          <div class="collapse" id="health-details-collapsable">
            <div id="healthHelp" class="form-text">
              اختر الظروف الصحية أو القيود كما في رخصة القيادة
            </div>
            <div class="mb-5 ps-4">
              <fieldset>
                <div class="row">
                  <div class="col-12 col-md-6">
                    <div class="form-check mb-2">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        value=""
                        id="auto-car"
                      />
                      <label class="form-check-label" for="auto-car">
                        سيارة اوتوماتيك (1)
                      </label>
                    </div>
                  </div>
                  <div class="col-12 col-md-6">
                    <div class="form-check mb-2">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        value=""
                        id="day-hour"
                      />
                      <label class="form-check-label" for="day-hour">
                        لساعات النهار فقط (4)
                      </label>
                    </div>
                  </div>
                  <div class="col-12 col-md-6">
                    <div class="form-check mb-2">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        value=""
                        id="Lenses"
                      />
                      <label class="form-check-label" for="Lenses">
                        عدسات مقوية للنظر (3)
                      </label>
                    </div>
                  </div>
                  <div class="col-12 col-md-6">
                    <div class="form-check mb-2">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        value=""
                        id="prostheses"
                      />
                      <label class="form-check-label" for="prostheses">
                        طرف صناعي (2)
                      </label>
                    </div>
                  </div>
                  <div class="col-12 col-md-6">
                    <div class="form-check mb-2">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        value=""
                        id="earphone"
                      />
                      <label class="form-check-label" for="earphone">
                        سماعة الأذن (5)
                      </label>
                    </div>
                  </div>
                  <div class="col-12 col-md-6">
                    <div class="form-check mb-2">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        value=""
                        id="handicapped"
                      />
                      <label class="form-check-label" for="handicapped">
                        سيارة خاصة للمعوقين (6)
                      </label>
                    </div>
                  </div>
                </div>
              </fieldset>
            </div>
          </div>
          <div class="form-check mb-2">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="traffic-violation"
              data-bs-toggle="collapse"
              data-bs-target="#traffic-violation-collapsable"
              aria-expanded="false"
              aria-controls="traffic-violation-collapsable"
            />
            <label class="form-check-label mb-3" for="traffic-violation">
              هل لدى السائق مخالفات مرورية
            </label>
          </div>
          <div class="collapse" id="traffic-violation-collapsable">
            <div id="violationhelp" class="form-text">
              اختر المخالفات المرورية
            </div>
            <div class="mb-5 ps-4">
              <fieldset>
                <div class="row">
                  <div class="col-12 col-md-6">
                    <div class="form-check mb-2">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        value=""
                        id="speed-limit"
                      />
                      <label class="form-check-label" for="speed-limit">
                        تجاوز السرعة المحددة
                      </label>
                    </div>
                  </div>
                  <div class="col-12 col-md-6">
                    <div class="form-check mb-2">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        value=""
                        id="drift"
                      />
                      <label class="form-check-label" for="drift">
                        التفحيط
                      </label>
                    </div>
                  </div>
                  <div class="col-12 col-md-6">
                    <div class="form-check mb-2">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        value=""
                        id="opposite-drive"
                      />
                      <label class="form-check-label" for="opposite-drive">
                        القيادة عكس الإتجاه
                      </label>
                    </div>
                  </div>
                  <div class="col-12 col-md-6">
                    <div class="form-check mb-2">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        value=""
                        id="
                  skip-redlight"
                      />
                      <label class="form-check-label" for="skip-redlight">
                        تجاوز الإشارة الحمراء
                      </label>
                    </div>
                  </div>
                  <div class="col-12 col-md-6">
                    <div class="form-check mb-2">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        value=""
                        id="wrong-stop"
                      />
                      <label class="form-check-label" for="wrong-stop">
                        مخالفة الوقوف الخطائ
                      </label>
                    </div>
                  </div>
                </div>
              </fieldset>
            </div>
          </div>
          <div class="form-check mb-2">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="other-license"
              data-bs-toggle="collapse"
              data-bs-target="#other-license-collapsable"
              aria-expanded="false"
              aria-controls="other-license-collapsable"
            />
            <label class="form-check-label" for="other-license">
              هل لدى السائق رخصة قيادة صالحة من دول أخرى؟
            </label>
          </div>
          <div class="collapse" id="other-license-collapsable">
            <div class="row mb-3 gy-2 gx-2">
              <div class="col-12 col-md-6 col-lg-4">
                <div class="form-floating">
                  <select
                    class="form-select form-control form-control-lg"
                    id="choose-city"
                  >
                    <option>اأختر الدولة</option>
                    <option>بريطانيا</option>
                    <option>المانيا</option>
                  </select>

                  <label for="choose-city" class="form-label"
                    >أختر الدولة</label
                  >
                </div>
              </div>
              <div class="col-12 col-md-6 col-lg-4">
                <div class="form-floating">
                  <select
                    class="form-select form-control form-control-lg"
                    id="choose-year"
                  >
                    <option>اختر عدد السنوات</option>
                    <option>1</option>
                    <option>2</option>
                  </select>
                  <label for="choose-year" class="form-label"
                    >اختر عدد السنوات</label
                  >
                </div>
              </div>
              <div class="d-grid col-md-12 col-lg-3">
                <button type="button" class="btn btn-lg btn-primary">
                  اضافة
                </button>
              </div>
            </div>
              <div class="col-12 d-flex flex-gr">
                <table class="mb-3">
                  <thead>
                    <tr>
                      <th>الدولة</th>
                      <th>اختر عدد السنوات</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>الامارات العربية المتحدة</td>
                      <td>5</td>
                      <td>icon</td>
                    </tr>
                  </tbody>
                </table>
              </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="d-grid gap-3 d-flex col-12 col-md-9 mx-auto">
            <button
              type="button"
              role="button"
              class="btn btn-lg btn-primary w-50"
              data-bs-toggle="modal"
              data-bs-target="#extra-daitals-modal"
            >
              اضافة
            </button>
            <button
              type="button"
              role="button"
              class="btn btn-lg btn-dark w-50"
              data-bs-toggle="modal"
              data-bs-dismiss="modal"
            >
              إلغاء
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
