<section class="step4">
  <div class="container">
    <div class="pay-done">
      <div class="img-container mb-5">
        <img src="images/pay-done.svg" />
      </div>
      <h3 class="mb-3">تمت عملية الدفع بنجاح</h3>
      <h4>المبلغ الاجمالي</h4>
      <h4>3445.64 ر.س</h4>
      <p class="mb-4">شامل الضرائب والرسوم</p>
      <div class="buttons">
        <button type="button" class="btn btn-lg btn-secondary">
            تحميل الوثيقة
        </button>
        <button type="submit" class="btn btn-lg btn-primary">
          طباعة الفاتورة
        </button>
      </div>
    </div>
  </div>
</section>
