<section class="step2">
  <div class="container">
    <fieldset class="mb-5">
      <div class="owner-info">
        <h3>معلومات مالك الوثيقة والمركبة</h3>
        <div class="row">
          <div class="col-sm-12 col-md-4">
            <div class="content">
              <div class="owner-Basic-info">
                <h5>تاريخ بدء الوثيقة</h5>
                <h5>هوية مالك الوثيقة</h5>
                <h5>الاسم</h5>
                <h5>العنوان الوطني</h5>
              </div>
              <div class="owner-Basic-info">
                <p>09/02/2021</p>
                <p>1051859500</p>
                <p>خالد محمد مبارك المطلق</p>
                <p>2920 اب الحسن على المحدث الرياض حي الربيع</p>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-4">
            <div class="content">
              <div class="owner-Basic-info">
                <h5>موديل المركبة</h5>
                <h5>سنة الصنع</h5>
                <h5>قيمة المركبة</h5>
              </div>
              <div class="owner-Basic-info">
                <p>تويوتا كامري</p>
                <p>2020</p>
                <p>45000 ر.س</p>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-4">
            <div class="content">
              <div class="owner-Basic-info">
                <h5>رقم اللوحة</h5>
                <h5>اللون</h5>
                <h5>تاريخ الميلاد</h5>
              </div>
              <div class="owner-Basic-info">
                <p>12344 ب م</p>
                <p>ابيض</p>
                <p>09/02/2021</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </fieldset>
    <div class="form-dark">
      <div class="row">
        <div class="col-sm-12 col-md-4">
          <div class="mb-3">
            <div class="row">
              <div class="col-md-5">
                <label class="form-radio-inline-group-label">نوع التأمين</label>
              </div>
              <div class="col-md-5">
                <div class="form-radio-inline-group">
                  <div class="form-radio-inline ">
                    <input
                      type="radio"
                      name="vehicleDocumentType"
                      id="vehicleDocumentType1"
                      value="1"
                      checked
                    />
                    <label class="form-check-label" for="vehicleDocumentType1"
                      >تأمين ضد الغير</label
                    >
                  </div>
                  <div class="form-radio-inline">
                    <input
                      type="radio"
                      name="vehicleDocumentType"
                      id="vehicleDocumentType2"
                      value="2"
                    />
                    <label class="form-check-label" for="vehicleDocumentType2"
                      >تأمين شامل</label
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
