<section class="step-1">
  <h3 class="h2 title mb-3"><strong>برجاء استكمال البيانات</strong></h3>
  <form class="form-dark">
    <div class="row mb-5 gy-2">
      <div class="col-sm-12 col-md-7">
        <div class="form-control">
          <div class="row">
            <div class="col-md-5">
              <label class="form-radio-inline-group-label"
                >نوع وثيقة المركبة</label
              >
            </div>
            <div class="col-md-7">
              <div class="form-radio-inline-group">
                <div class="form-radio-inline">
                  <input
                    type="radio"
                    name="document-type-car"
                    id="document-type-car1"
                    value="1"
                    checked
                  />
                  <label class="form-check-label" for="document-type-car1"
                    >استمارة</label
                  >
                </div>
                <div class="form-radio-inline">
                  <input
                    type="radio"
                    name="document-type-car"
                    id="document-type-car2"
                    value="2"
                  />
                  <label class="form-check-label" for="document-type-car2"
                    >بطاقة جمركية</label
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-5">
        <div class="form-floating">
          <input
            type="text"
            class="form-control"
            id="car-salary"
            placeholder="قيمة المركبة"
          />
          <label for="car-salary" class="form-label">قيمة المركبة</label>
        </div>
      </div>
      <div class="col-sm-12 col-md-7">
        <div class="form-control">
          <div class="row">
            <div class="col-md-7">
              <label class="form-radio-inline-group-label"
                >هل تريد نقل ملكية المركبة</label
              >
            </div>
            <div class="col-md-5">
              <div class="form-radio-inline-group">
                <div class="form-radio-inline">
                  <input
                    type="radio"
                    name="change-owner"
                    id="change-owner1"
                    value="1"
                    checked
                  />
                  <label class="form-check-label" for="change-owner1"
                    >نعم</label
                  >
                </div>
                <div class="form-radio-inline">
                  <input
                    type="radio"
                    name="change-owner"
                    id="change-owner2"
                    value="2"
                  />
                  <label class="form-check-label" for="change-owner2">لا</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-5">
        <div class="form-floating">
          <input
            type="text"
            class="form-control"
            id="idNumber"
            placeholder="رقم هوية المالك"
          />
          <label for="idNumber" class="form-label">رقم هوية المالك</label>
        </div>
      </div>
    </div>
    <div class="d-grid gap-3 mb-5 d-flex justify-content-end col-md-6 offset-md-6 col-xl-5 offset-xl-7">
      <button type="button" role="button" class="btn btn-lg btn-secondary w-50" data-bs-toggle="modal"
      data-bs-target="#extra-daitals-modal">
        تفاصيل اخرى
      </button>
      <button type="button" role="button" class="btn btn-lg btn-primary w-50" data-bs-toggle="modal"
      data-bs-target="#extra-driver-modal">
        إضافة سائق إضافي
      </button>
    </div>
    <div class="form-check mb-3">
      <input
        class="form-check-input"
        type="checkbox"
        value=""
        id="praivacy-accept"
      />
      <label class="form-check-label" for="praivacy-accept">
        أوافق على الشروط والأحكام وسياسة الخصوصية
      </label>
    </div>
    <div class="col-lg-4 d-grid">
        <button type="button" class="btn btn-lg btn-primary text-start btn-arrow w-100">
          أظهر العروض
        </button>
    </div>
  </form>
</section>
