<div class="modal fade" id="malath-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="h2 modal-title"><strong>معلومات شركة التأمين</strong></h3>
        <button
          type="button"
          class="btn btn-link"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&#x2715;</span>
          <span>إغلاق</span>
        </button>
      </div>

      <div class="modal-body">
        <div class="image-container mb-2">
            <img src="images/malaz-logo.png" />
        </div>
        <h3 class="tittle mb-4">شركة ملاذ للتأمين التعاوني</h3>
        <div class="malath-info mb-4">
          <div class="malath-info-tittle">
            <h5>الموقع الالكتروني</h5>
            <h5>البريد الالكتروني</h5>
            <h5>رقم الهاتف</h5>
            <h5>رقم الفاكس</h5>
          </div>
          <div class="malath-info-data">
            <p>malath.com.sa</p>
            <p>customercare@malath.com.sa</p>
            <p>920015815</p>
            <p>114186333</p>
          </div>
        </div>
        <div class="malath-Services mb-5">
            <h5>خدمات الشركة</h5>
            <p>الحساب الرسمي لشركة #ملاذ_للتأمين | مركز خدمة العملاء 8001280088 - خاضعة لإشراف ورقابة البنك المركزي السعودي
            </p>
        </div>
      </div>
    </div>
  </div>
</div>
