<div class="modal fade" id="signindone-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span><span>اغلاق</span>
            </button>
          </div>
        <div class="modal-body">
          <div class="modal-body">
              <img src="images/signin-done.svg">
          </div>
        </div>
        <div class="modal-footer">
          <p>تم انشاء <br>الحساب بنجاح</p>
        </div>
      </div>
    </div>
  </div>
  