<div class="modal fade" id="signup-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">تسجيل مستخدم جديد</h5>
        <button
          type="button"
          class="close"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span><span>اغلاق</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="modal-body">
          <div class="form-floating mb-2">
            <input
              type="text"
              class="form-control form-control-lg"
              id="idNumber"
              placeholder="الاسم كامل"
            />
            <label for="idNumber" class="form-label">الاسم كامل</label>
          </div>
        </div>

        <div class="modal-body">
          <div class="form-floating mb-2">
            <input
              type="text"
              class="form-control form-control-lg"
              id="idNumber"
              placeholder="البريد الإلكتروني"
            />
            <label for="idNumber" class="form-label">البريد الإلكتروني</label>
          </div>
        </div>

        <div class="modal-body">
          <div class="form-floating mb-2">
            <input
              type="text"
              class="form-control form-control-lg"
              id="idNumber"
              placeholder="رقم الجوال"
            />
            <label for="idNumber" class="form-label">رقم الجوال</label>
          </div>
        </div>

        <div class="modal-body">
          <div class="form-floating mb-2">
            <input
              type="password"
              class="form-control form-control-lg"
              id="idNumber"
              placeholder="كلمة المرور"
            />
            <label for="idNumber" class="form-label">كلمة المرور</label>
          </div>
        </div>

        <div class="modal-body">
          <div class="form-floating mb-2">
            <input
              type="password"
              class="form-control form-control-lg"
              id="idNumber"
              placeholder="تأكيد كلمة المرور"
            />
            <label for="idNumber" class="form-label">تأكيد كلمة المرور</label>
          </div>
        </div>
        <div class="modal-body">
          <div class="form-check mb-4">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="acceptTerms"
            />
            <label class="form-check-label" for="acceptTerms">
              أوافق على <a href="#">الشروط والأحكام</a> لمنصة HalaX
            </label>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-lg btn-primary"
          data-bs-toggle="modal"
          data-bs-target="#signindone-modal"
        >
          تسجيل
        </button>
      </div>
    </div>
  </div>
</div>
