<section class="hero-about">
  <div class="container">
    <h2 class="how-us mb-lg-5 pt-5">من نحن؟</h2>
    <div class="about-us">
      <div class="hero-about-info">
        <h3 class="mb-lg-3">شركة تكافل الراجحي للتأمين</h3>
        <div class="hero-info-data mb-3 mb-lg-5">
          <p>
            نؤمن بمبدأنا وهو مساعدة الناس ليتمتعوا بصحة أفضل ويحافظوا عليها مدى
            الحياة. ونعمل كل يوم لنحافظ على صدارتنا كشركة عالمية رائدة في مجال
            الرعاية الصحية.
          </p>
          <p>
            . هل تريد أن تعرف المزيد عن قصتنا؟ هنا يمكنك أن تستكشف كل شيء عن:
            تاريخنا، قيمنا، دوافعنا، إلتزامنا تجاه مجتمعنا، علاقاتنا بمستثمرينا
            وأين تجدنا.
          </p>
        </div>
        <h3 class="why-us mb-lg-3">لماذا نحن؟</h3>
        <div class="why-us-data">
          <p>
            إن شبكة بوبا العالمية وانتشارها الواسع ساهمت في تمكين بوبا العربية
            من الاطلاع بشكلٍ متواصل على أفضل الممارسات الطبية استناداً إلى
            المعاييرالعالمية وتطبيقها في السعودية.
          </p>
          <p>
            إن شبكة بوبا العالمية وانتشارها الواسع ساهمت في تمكين بوبا العربية
            من الاطلاع بشكلٍ متواصل على أفضل إن شبكة بوبا العالمية وانتشارها
            الواسع ساهمت في تمكين بوبا العربية من الاطلاع بشكلٍ متواصل على أفضل
            الممارسات الطبية استناداً إلى المعاييرالعالمية وتطبيقها في السعودية.
          </p>
        </div>
      </div>
      <div class="hero-about-image">
        <div class="image-container mb-3">
          <img src="images/bmw-image.jpg" />
        </div>
      </div>
    </div>
  </div>
</section>
<section class="our-job-about">
  <div class="container d-flex flex-column flex-md-row">
    <div class="our-job mb-3">
      <h3 class="our-job mb-lg-5">مهمتنا</h3>
      <p>
        لأننا نهتم بأدق التفاصيل الخاصة بكم، قررنا طرح مدونة بوبا العربية؛ لنضمن
        لكم<br> الحصول على أفضل المعلومات الصحية من مصادر موثوقة.
      </p>
    </div>
    <div class="our-look mb-3">
      <h3 class="our-job mb-lg-5">رؤيتنا</h3>
      <p>
        سعياً منا في تقديم أفضل خدمات الرعاية الصحية التي لها تأثير إيجابي في
        حياة<br> أعضائنا، قمنا بإنشاء برنامج طبتم الذي يوفر مجموعة من الخدمات
        المتميزة وغير<br> المسبوقة لإحاطة أعضائنا وعائلاتهم بالرعاية الصحية
        المتكاملة من قبل أطبائنا عبر<br> تقديم إجابات سريعة وفورية على أسئلتهم
        واستفساراتهم الطبية.
      </p>
    </div>
  </div>
</section>
