<footer class="footer">
  <div class="container">
    <div class="footer-section">
      <div class="social-media" data-aos="fade-left">
        <p>تابعنا عبر الشبكات الإجتماعية</p>
        <ul class="icons">
          <li>
            <a href="#"><img src="images/twitter.svg" /></a>
          </li>
          <li>
            <a href="#"><img src="images/linkedin.svg" /></a>
          </li>
          <li>
            <a href="#"><img src="images/instagram.svg" /></a>
          </li>
          <li>
            <a href="#"><img src="images/facebook.svg" /></a>
          </li>
        </ul>
      </div>
      <ul class="footer-menu" data-aos="fade-up">
        <li><a href="#">شروط البيع</a></li>
        <li><a href="#">حقوق المستهلك</a></li>
        <li><a href="#">شروط الاستخدام</a></li>
        <li><a href="#">سياسة الخصوصية</a></li>
      </ul>
    </div>
    <div class="footer-section">
      <div class="logo-container">
        <a href="#">
          <img src="images/full-color-logo.svg" />
        </a>
      </div>
      <p class="copyright">جميع الحقوق محفوظة لموقع دياموند 2021 ©</p>
    </div>
  </div>
</footer>
