<header class="header" data-aos="fade-down">
  <div class="container">
    <div class="header-logo">
        <div class="img-container">
      <img src="images/full-color-logo.svg" />
    </div>
    </div>
    <div class="header-btns">
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#signin-modal">تسجيل الدخول</button>
      <a href="#" class="btn btn-light">الأسئلة الشائعة</a>
      <a href="#" class="btn btn-light btn-lang">En</a>
    </div>
  </div>
</header>
