<section class="hero">
  <div class="container">
    <div class="hero-info">
      <h3>تخلص من</h3>
      <h4>إلتباس التأمين،</h4>
      <h2>أمِّن على سيارتك الآن</h2>
      <h1>أفضل شركات التأمين</h1>
      <div class="tele">
        <div class="image-cont">
          <img src="images/tele.svg" />
        </div>
        <div class="phone-num">
          <span>الخط الساخن</span>
          <a href="tel:0000 000 00">0000 000 00</a>
        </div>
        <div class="img-cont">
          <img src="images/bank-logo.png" />
        </div>
      </div>
    </div>
  </div>
</section>
