<section class="hero-about">
  <div class="container">
    <h2 class="how-us mb-5">من نحن؟</h2>
    <div class="about-us">
      <div class="hero-about-info">
        <h3 class="mb-3">شركة تكافل الراجحي للتأمين</h3>
        <div class="hero-info-data mb-5">
          <p>
            نؤمن بمبدأنا وهو مساعدة الناس ليتمتعوا بصحة أفضل ويحافظوا عليها مدى
            الحياة. ونعمل كل يوم لنحافظ على صدارتنا كشركة عالمية رائدة في مجال
            الرعاية الصحية.
          </p>
          <p>
            . هل تريد أن تعرف المزيد عن قصتنا؟ هنا يمكنك أن تستكشف كل شيء عن:
            تاريخنا، قيمنا، دوافعنا، إلتزامنا تجاه مجتمعنا، علاقاتنا بمستثمرينا
            وأين تجدنا.
          </p>
        </div>
        <h3 class="why-us mb-3">لماذا نحن؟</h3>
        <div class="why-us-data">
          <p>
            إن شبكة بوبا العالمية وانتشارها الواسع ساهمت في تمكين بوبا العربية
            من الاطلاع بشكلٍ متواصل على أفضل الممارسات الطبية استناداً إلى
            المعاييرالعالمية وتطبيقها في السعودية.
          </p>
          <p>
            إن شبكة بوبا العالمية وانتشارها الواسع ساهمت في تمكين بوبا العربية
            من الاطلاع بشكلٍ متواصل على أفضل إن شبكة بوبا العالمية وانتشارها
            الواسع ساهمت في تمكين بوبا العربية من الاطلاع بشكلٍ متواصل على أفضل
            الممارسات الطبية استناداً إلى المعاييرالعالمية وتطبيقها في السعودية.
          </p>
        </div>
      </div>
      <div class="hero-about-image">
        <div class="image-container">
          <img src="images/bmw-image.jpg" />
        </div>
      </div>
    </div>
  </div>
</section>
