<section class="hero">
  <div class="container">
    <div class="hero-info">
      <p class="slogan">
        <small>تخلص من</small>
        <span>إلتباس التأمين،</span>
      </p>
      <p class="slogan">
        <small>أمِّن على سيارتك الآن</small>
        <span>أفضل شركات التأمين</span>
      </p>
      <div class="hotline">
        <div class="image-cont">
          <img src="images/tele.svg" />
        </div>
        <div class="phone-num">
          <span>الخط الساخن</span>
          <a href="tel:0000 000 00">0000 000 00</a>
        </div>
        <div class="img-cont">
          <img src="images/bank-logo.png" />
        </div>
      </div>
    </div>
  </div>
</section>
