<section class="insurance-policy-steps">
  <div class="container">
    <h2 class="heading" data-aos="fade-up">احصل على وثيقة التأمين ب 4 خطوات فقط</h2>
    <div class="row gy-3 gx-2" data-aos="fade-up">
      <div class=" col-sm-12 col-md-6 col-lg-3">
        <div class="content">
          <div class="icon-container">
            <img src="images/document.svg" />
          </div>
          <h3 class="title">ادخال البيانات</h3>
          <p class="description">
            ادخل بياناتك الاساسية وسيتم الحصول على كافة البيانات المطلوبة
          </p>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-3">
        <div class="content">
          <div class="icon-container">
            <img src="images/price-tag.svg" />
          </div>
          <h3 class="title">مشاهدة العروض</h3>
          <p class="description">
            قم بمقارنة الاسعار والمزايا بين عدة عروض واختر العرض المناسب لك
          </p>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-3">
        <div class="content">
          <div class="icon-container">
            <img src="images/bill.svg" />
          </div>
          <h3 class="title">تقدم بالدفعة</h3>
          <p class="description">
            الدفع متاح بعدة وسائل فيزا كارد - ماستر كارد - مدى - STC Pay وغيرها
          </p>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-3">
        <div class="content">
          <div class="icon-container">
            <img src="images/personal-data.svg" />
          </div>
          <h3 class="title">طباعة الوثيقة</h3>
          <p class="description">
            ستحصل على الوثيقة مباشرة وتستطيع تحميلها وطباعتها لاحقاً من حسابك
            الشخصي
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
