<section class="insurance-policy-steps">
  <div class="container">
    <h1>احصل على وثيقة التأمين ب 4 خطوات فقط</h1>
    <div class="row">
      <div class="col-sm">
        <div class="icon-container">
          <a href="#">
            <img src="images/004-document.svg" />
          </a>
        </div>
        <h1>ادخال البيانات</h1>
        <p>ادخل بياناتك الاساسية وسيتم الحصول على كافة البيانات المطلوبة</p>
      </div>
      <div class="col-sm">
        <div class="icon-container">
          <a href="#">
            <img src="images/002-price-tag.svg" />
          </a>
        </div>
        <h1>مشاهدة العروض</h1>
        <p>قم بمقارنة الاسعار والمزايا بين عدة عروض واختر العرض المناسب لك</p>
      </div>
      <div class="col-sm">
        <div class="icon-container">
          <a href="#">
            <img src="images/007-bill.svg" />
          </a>
        </div>
        <h1>تقدم بالدفعة</h1>
        <p>
          الدفع متاح بعدة وسائل فيزا كارد - ماستر كارد - مدى - STC Pay وغيرها
        </p>
      </div>
      <div class="col-sm">
        <div class="icon-container">
          <a href="#">
            <img src="images/008-personal-data.svg" />
          </a>
        </div>
        <h1>طباعة الوثيقة</h1>
        <p>
          ستحصل على الوثيقة مباشرة وتستطيع تحميلها وطباعتها لاحقاً من حسابك
          الشخصي
        </p>
      </div>
    </div>
  </div>
</section>
