<section class="our-job-about">
  <div class="container">
    <div class="our-job">
      <h3 class="our-job mb-5">مهمتنا</h3>
      <p>
        لأننا نهتم بأدق التفاصيل الخاصة بكم، قررنا طرح مدونة بوبا العربية؛ لنضمن
        لكم<br> الحصول على أفضل المعلومات الصحية من مصادر موثوقة.
      </p>
    </div>
    <div class="our-look">
      <h3 class="our-job mb-5">رؤيتنا</h3>
      <p>
        سعياً منا في تقديم أفضل خدمات الرعاية الصحية التي لها تأثير إيجابي في
        حياة<br> أعضائنا، قمنا بإنشاء برنامج طبتم الذي يوفر مجموعة من الخدمات
        المتميزة وغير<br> المسبوقة لإحاطة أعضائنا وعائلاتهم بالرعاية الصحية
        المتكاملة من قبل أطبائنا عبر<br> تقديم إجابات سريعة وفورية على أسئلتهم
        واستفساراتهم الطبية.
      </p>
    </div>
  </div>
</section>
