<section class="success-partners">
  <div class="container">
    <h1>شركاء النجاح</h1>
    <div class="slider-cont">
      <div class="logo-slider">
        <div class="item">
          <a href="#"><img src="images/image1.png" /></a>
        </div>
        <div class="item">
          <a href="#"><img src="images/image2.png" /></a>
        </div>
        <div class="item">
          <a href="#"><img src="images/image3.png" /></a>
        </div>
        <div class="item">
          <a href="#"><img src="images/image4.png" /></a>
        </div>
        <div class="item">
          <a href="#"><img src="images/image5.png" /></a>
        </div>
        <div class="item">
          <a href="#"><img src="images/image6.png" /></a>
        </div>
        <div class="item">
          <a href="#"><img src="images/image7.png" /></a>
        </div>
        <div class="item">
          <a href="#"><img src="images/image8.png" /></a>
        </div>
        <div class="item">
          <a href="#"><img src="images/image9.png" /></a>
        </div>
      </div>
    </div>
  </div>
</section>
