<div class="terms">
  <div class="container">
    <div class="tittle">
      <h3 class="h2 modal-title mb-4"><strong>الشروط والأحكام</strong></h3>
      <p>
        يجب قراءة الشروط بعناية قبل إستدام الموقع أو أي من خدماته. هذا الإتفاق
        يحدد أحكام وشروط ملزمة قانونيا
      </p>
    </div>
    <div class="container-fluid">
      <div class="accordion-started accordion-bral row">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <!-- accordion item 1 -- start -->
          <input
            class="ac-input"
            id="ac-1"
            name="accordion-1"
            type="radio"
            checked
          />
          <label class="ac-label" for="ac-1">مقدمة<i></i></label>
          <div class="article ac-content">
            <p class="text-justify">
                اكتب المقدمة
            </p>
          </div>
        </div>
        <!-- accordion item 1 -- end -->

        <div class="col-sm-12 col-md-12 col-lg-12">
          <!-- accordion item 2 -- start -->
          <input class="ac-input" id="ac-2" name="accordion-1" type="radio" />
          <label class="ac-label" for="ac-2"
            >أولا:شروط تسجيل الحساب<i></i
          ></label>
          <div class="article ac-content">
            <p class="text-justify">
                اكتب شروط تسجيل الحساب
            </p>
          </div>
        </div>
        <!-- accordion item 2 -- end -->

        <div class="col-sm-12 col-md-12 col-lg-12">
          <!-- accordion item 3 -- start -->
          <input class="ac-input" id="ac-3" name="accordion-1" type="radio" />
          <label class="ac-label" for="ac-3"
            >ثانيا:خدمات البيع والشراء<i></i
          ></label>
          <div class="article ac-content">
            <p class="text-justify">
                اكتب خدمات البيع والشراء
            </p>
          </div>
        </div>
        <!-- accordion item 3 -- end -->

        <div class="col-sm-12 col-md-12 col-lg-12">
          <!-- accordion item 4 -- start -->
          <input class="ac-input" id="ac-4" name="accordion-1" type="radio" />
          <label class="ac-label" for="ac-4"
            >ثالثا:السلع التي يتم بيعها<i></i
          ></label>
          <div class="article ac-content">
            <p class="text-justify">
                اكتب السلع التي يتم بيعها
            </p>
          </div>
        </div>
        <!-- accordion item 4 -- end -->
        <div class="col-sm-12 col-md-12 col-lg-12">
          <!-- accordion item 5 -- start -->
          <input class="ac-input" id="ac-5" name="accordion-1" type="radio" />
          <label class="ac-label" for="ac-5">رابعا:خدمات الدفع<i></i></label>
          <div class="article ac-content">
            <p class="text-justify">
                اكتب خدمات الدفع
            </p>
          </div>
        </div>
        <!-- accordion item 5 -- end -->
        <div class="col-sm-12 col-md-12 col-lg-12">
          <!-- accordion item 6 -- start -->
          <input class="ac-input" id="ac-6" name="accordion-1" type="radio" />
          <label class="ac-label" for="ac-6"
            >خامسا:سياسة الإسترجاع<i></i
          ></label>
          <div class="article ac-content">
            <p class="text-justify">
                اكتب سياسة الإسترجاع
            </p>
          </div>
        </div>
        <!-- accordion item 6 -- end -->
        <div class="col-sm-12 col-md-12 col-lg-12">
          <!-- accordion item 7 -- start -->
          <input class="ac-input" id="ac-7" name="accordion-1" type="radio" />
          <label class="ac-label" for="ac-7">سادسا:حقوق براندفل<i></i></label>
          <div class="article ac-content">
            <p class="text-justify">
                اكتب حقوق براندفل
            </p>
          </div>
        </div>
        <!-- accordion item 7 -- end -->
        <div class="col-sm-12 col-md-12 col-lg-12">
          <!-- accordion item 8 -- start -->
          <input class="ac-input" id="ac-8" name="accordion-1" type="radio" />
          <label class="ac-label" for="ac-8">سابعا:المسؤولية<i></i></label>
          <div class="article ac-content">
            <p class="text-justify">اكتب المسؤلية</p>
          </div>
        </div>
        <!-- accordion item 8 -- end -->
        <div class="col-sm-12 col-md-12 col-lg-12">
          <!-- accordion item 9 -- start -->
          <input class="ac-input" id="ac-9" name="accordion-1" type="radio" />
          <label class="ac-label" for="ac-9"
            >ثامنا:الخدمات اللوجستية<i></i
          ></label>
          <div class="article ac-content">
            <p class="text-justify">اكتب الخدمات اللوجستية</p>
          </div>
        </div>
        <!-- accordion item 9 -- end -->
      </div>
    </div>
  </div>
</div>
